#prevention
#avoidance
#detection

# data loading:

In [1]:
import pandas as pd
import numpy as np
import mysql.connector

# Connect to MySQL database
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Sunday01@new",
    database=" users_data01"
)
cursor = conn.cursor()

# Function to fetch data from MySQL and create DataFrame
def fetch_data_to_dataframe(table_name):
    query = f"SELECT * FROM {table_name}"
    df = pd.read_sql(query, conn)
    return df

# List of table names
table_names = [
    "BlockchainTransactions",
    "UserProfile",
    "BehavioralPatterns",
    "CreditAndFinancialHistory",
    "NetworkAnalysis",
    "SentimentAnalysis",
    "CommunityBehavior",
    "SystemAndPlatformScores",
    "DeviceAndIPInformation",
    "MachineLearningFeatures",
    "HistoricalFraudData",
    "ExternalDataSources"
]

# Dictionary to store DataFrames
dataframes = {}

# Fetch data and create DataFrames for each table
for table_name in table_names:
    dataframes[table_name] = fetch_data_to_dataframe(table_name)

# Close the database connection
conn.close()

C:\Users\SIMRAN\AppData\Local\Temp\ipykernel_2124\1351151442.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [2]:
dataframes

{'BlockchainTransactions':     TransactionID           Timestamp      SenderAddress      ReceiverAddress  \
 0               1 2024-03-13 09:25:00   sender_address_1   receiver_address_1
 1               2 2024-03-12 18:45:00   sender_address_2   receiver_address_2
 2               3 2024-03-11 14:30:00   sender_address_3   receiver_address_3
 3               4 2024-03-10 11:15:00   sender_address_4   receiver_address_4
 4               5 2024-03-09 08:10:00   sender_address_5   receiver_address_5
 5               6 2024-03-08 16:20:00   sender_address_6   receiver_address_6
 6               7 2024-03-07 12:45:00   sender_address_7   receiver_address_7
 7               8 2024-03-06 10:30:00   sender_address_8   receiver_address_8
 8               9 2024-03-05 14:55:00   sender_address_9   receiver_address_9
 9              10 2024-03-04 17:20:00  sender_address_10  receiver_address_10
 10             11 2024-03-03 09:30:00  sender_address_11  receiver_address_11
 11             12 2024-03-02 14:00:00  sender_address_12  receiver_address_12
 12             13 2024-03-01 11:45:00  sender_address_13  receiver_address_13
 13             14 2024-02-29 16:10:00  sender_address_14  receiver_address_14
 14             15 2024-02-28 13:20:00  sender_address_15  receiver_address_15
 15             16 2024-02-27 08:55:00  sender_address_16  receiver_address_16
 16             17 2024-02-26 10:25:00  sender_address_17  receiver_address_17
 17             18 2024-02-25 14:35:00  sender_address_18  receiver_address_18
 18             19 2024-02-24 16:50:00  sender_address_19  receiver_address_19
 19             20 2024-02-23 09:40:00  sender_address_20  receiver_address_20

     AmountTransferred  TransactionFee  BlockHeight
 0              100.25            0.50        11234
 1              250.75            1.20        11235
 2               50.10            0.25        11236
 3               75.60            0.40        11237
 4              150.30            0.80        11238
 5              300.90            1.50        11239
 6              200.75            1.00        11240
 7               80.40            0.30        11241
 8              120.20            0.60        11242
 9              180.65            0.90        11243
 10             250.40            1.20        11244
 11             300.80            1.50        11245
 12              75.20            0.40        11246
 13             150.90            0.80        11247
 14             200.25            1.00        11248
 15              90.60            0.30        11249
 16             130.70            0.60        11250
 17             175.40            0.90        11251
 18             220.85            1.10        11252
 19             260.30            1.30        11253  ,
 'UserProfile':     UserID                  Name                             Address  \
 0        1              John Doe                123 Main St, Anytown
 1        2            Jane Smith               456 Elm St, Othertown
 2        3         Alice Johnson                 789 Oak St, Anycity
 3        4         Michael Brown               321 Pine St, Somecity
 4        5           Emma Garcia             654 Maple St, Othercity
 5        6  Christopher Martinez           987 Cedar St, Anothercity
 6        7       Olivia Robinson        741 Birch St, Yetanothercity
 7        8         William Clark       852 Oakwood St, Differentcity
 8        9      Sophia Rodriguez          963 Elmwood St, Uniquecity
 9       10           James Lewis          159 Spruce St, Specialcity
 10      11         Charlotte Lee        357 Cedarwood St, Quirkytown
 11      12         Daniel Walker     258 Birchwood St, Eccentriccity
 12      13           Amelia Hall          852 Pinecrest St, Zanycity
 13      14        Benjamin Allen            963 Oakcrest St, Funzone
 14      15             Mia Young    741 Maplecrest St, Adventureland
 15      16       Ethan Hernandez     159 Birchcrest St, Mysteryville
 16      17            Emily King       357 Cedarcrest St, Whimsytown
 17      18       Alexander Scott      258 Sprucecrest St, Dreamville
 18      19       Sebastian Green  852 Birchwoodcrest St, Fantasyland
 19      20         Madison Baker    963 Pinecrestwood St, Wonderland

                                Email   PhoneNumber KYCStatus  \
 0               john.doe@example.com  123-456-7890  Verified
 1             jane.smith@example.com  987-654-3210  Verified
 2          alice.johnson@example.com  555-555-5555   Pending
 3          michael.brown@example.com  222-333-4444  Verified
 4            emma.garcia@example.com  666-777-8888  Verified
 5   christopher.martinez@example.com  999-888-7777   Pending
 6        olivia.robinson@example.com  333-222-1111  Verified
 7          william.clark@example.com  777-888-9999  Verified
 8       sophia.rodriguez@example.com  111-222-3333   Pending
 9            james.lewis@example.com  444-555-6666  Verified
 10         charlotte.lee@example.com  888-999-0000  Verified
 11         daniel.walker@example.com  000-111-2222   Pending
 12           amelia.hall@example.com  777-666-5555  Verified
 13        benjamin.allen@example.com  111-000-9999  Verified
 14             mia.young@example.com  333-444-5555   Pending
 15       ethan.hernandez@example.com  555-666-7777  Verified
 16            emily.king@example.com  888-777-6666  Verified
 17       alexander.scott@example.com  000-999-8888   Pending
 18       sebastian.green@example.com  777-000-1111  Verified
 19         madison.baker@example.com  111-222-3333  Verified

    AccountCreationDate
 0           2023-01-15
 1           2023-02-20
 2           2023-03-10
 3           2023-04-05
 4           2023-05-12
 5           2023-06-20
 6           2023-07-03
 7           2023-08-18
 8           2023-09-25
 9           2023-10-30
 10          2023-11-14
 11          2023-12-19
 12          2024-01-24
 13          2024-02-09
 14          2024-03-05
 15          2024-04-10
 16          2024-05-15
 17          2024-06-20
 18          2024-07-25
 19          2024-08-30  ,
 'BehavioralPatterns':     UserID  TransactionFrequency        TransactionSizeDistribution  \
 0        1                  12.5                             Normal
 1        2                   8.2  Skewed towards large transactions
 2        3                  20.1                             Normal
 3        4                  15.3                             Normal
 4        5                  18.7                             Normal
 5        6                  10.9  Skewed towards small transactions
 6        7                  22.0                             Normal
 7        8                   9.6                             Normal
 8        9                  14.2                             Normal
 9       10                  16.8                             Normal
 10      11                  11.5  Skewed towards large transactions
 11      12                  19.4                             Normal
 12      13                  13.7                             Normal
 13      14                  21.2                             Normal
 14      15                   8.9                             Normal
 15      16                  17.6                             Normal
 16      17                  12.8                             Normal
 17      18                  14.9                             Normal
 18      19                  20.5                             Normal
 19      20                  10.3  Skewed towards small transactions

    GeographicInconsistencies TimeOfDayPatterns RegularVsIrregularBehavior  \
 0                         No           Morning                    Regular
 1                        Yes           Evening                  Irregular
 2                         No         Afternoon                    Regular
 3                        Yes             Night                  Irregular
 4                         No           Morning                    Regular
 5                         No           Evening                    Regular
 6                        Yes         Afternoon                  Irregular
 7                         No             Night                    Regular
 8                         No           Morning                    Regular
 9                        Yes           Evening                  Irregular
 10                        No         Afternoon                    Regular
 11                        No             Night                    Regular
 12                       Yes           Morning                  Irregular
 13                        No           Evening                    Regular
 14                        No         Afternoon                    Regular
 15                       Yes             Night                  Irregular
 16                        No           Morning                    Regular
 17                        No           Evening                    Regular
 18                       Yes         Afternoon                  Irregular
 19                        No             Night                    Regular

    ChangesInBehaviorOverTime
 0                     Stable
 1                 Increasing
 2                     Stable
 3                     Stable
 4                     Stable
 5                 Decreasing
 6                 Increasing
 7                     Stable
 8                     Stable
 9                     Stable
 10                Decreasing
 11                Increasing
 12                    Stable
 13                    Stable
 14                    Stable
 15                Increasing
 16                    Stable
 17                    Stable
 18                Decreasing
 19                    Stable  ,
 'CreditAndFinancialHistory':     UserID  CreditScore LoanRepaymentHistory  CreditCardUtilization  \
 0        1          720                 Good                    0.3
 1        2          650                 Fair                    0.5
 2        3          780            Excellent                    0.2
 3        4          700                 Good                    0.4
 4        5          680                 Good                    0.3
 5        6          660                 Fair                    0.6
 6        7          750            Excellent                    0.2
 7        8          700                 Good                    0.4
 8        9          730                 Good                    0.3
 9       10          680                 Fair                    0.5
 10      11          710                 Good                    0.4
 11      12          780            Excellent                    0.2
 12      13          690                 Good                    0.3
 13      14          720                 Good                    0.3
 14      15          660                 Fair                    0.5
 15      16          740            Excellent                    0.2
 16      17          700                 Good                    0.4
 17      18          710                 Good                    0.3
 18      19          780            Excellent                    0.2
 19      20          670                 Fair                    0.6

     IncomeLevel  DebtToIncomeRatio PastFraudulentActivity
 0       50000.0               0.25                     No
 1       40000.0               0.35                     No
 2       60000.0               0.15                     No
 3       55000.0               0.28                     No
 4       48000.0               0.30                     No
 5       42000.0               0.32                     No
 6       65000.0               0.20                     No
 7       55000.0               0.25                     No
 8       52000.0               0.22                     No
 9       45000.0               0.30                     No
 10      57000.0               0.26                     No
 11      60000.0               0.18                     No
 12      49000.0               0.28                     No
 13      51000.0               0.24                     No
 14      43000.0               0.31                     No
 15      63000.0               0.21                     No
 16      55000.0               0.27                     No
 17      53000.0               0.23                     No
 18      61000.0               0.19                     No
 19      44000.0               0.33                     No  ,
 'NetworkAnalysis':     SenderUserID  ReceiverUserID  DegreeCentrality  ClusteringCoefficients  \
 0              1               2              0.75                    0.62
 1              2               3              0.82                    0.57
 2              3               1              0.69                    0.75
 3              4               5              0.76                    0.68
 4              5               6              0.83                    0.59
 5              6               7              0.71                    0.72
 6              7               8              0.79                    0.66
 7              8               9              0.68                    0.79
 8              9              10              0.75                    0.65
 9             10              11              0.81                    0.61
 10            11              12              0.72                    0.74
 11            12              13              0.78                    0.67
 12            13              14              0.67                    0.81
 13            14              15              0.74                    0.64
 14            15              16              0.80                    0.60
 15            16              17              0.73                    0.73
 16            17              18              0.77                    0.69
 17            18              19              0.66                    0.80
 18            19              20              0.72                    0.76
 19            20               1              0.79                    0.63

    AnomaliesInNetwork
 0                None
 1                None
 2                None
 3                None
 4                None
 5                None
 6                None
 7                None
 8                None
 9                None
 10               None
 11               None
 12               None
 13               None
 14               None
 15               None
 16               None
 17               None
 18               None
 19               None  ,
 'SentimentAnalysis':     UserID SocialMediaSentiment TransactionSentiment  \
 0        1             Positive              Neutral
 1        2              Neutral             Negative
 2        3             Positive             Positive
 3        4             Positive              Neutral
 4        5              Neutral             Negative
 5        6             Positive             Positive
 6        7             Positive              Neutral
 7        8              Neutral             Negative
 8        9             Positive             Positive
 9       10             Positive              Neutral
 10      11              Neutral             Negative
 11      12             Positive             Positive
 12      13             Positive              Neutral
 13      14              Neutral             Negative
 14      15             Positive             Positive
 15      16             Positive              Neutral
 16      17              Neutral             Negative
 17      18             Positive             Positive
 18      19             Positive              Neutral
 19      20              Neutral             Negative

    FinancialTransactionSentiment
 0                       Positive
 1                        Neutral
 2                       Positive
 3                       Positive
 4                        Neutral
 5                       Positive
 6                       Positive
 7                        Neutral
 8                       Positive
 9                       Positive
 10                       Neutral
 11                      Positive
 12                      Positive
 13                       Neutral
 14                      Positive
 15                      Positive
 16                       Neutral
 17                      Positive
 18                      Positive
 19                       Neutral  ,
 'CommunityBehavior':     UserID  ReputationScore ParticipationInForums FeedbackFromPeers  \
 0        1               85                Active          Positive
 1        2               70              Moderate           Neutral
 2        3               95                Active          Positive
 3        4               80                Active          Positive
 4        5               75              Moderate           Neutral
 5        6               90                Active          Positive
 6        7               85                Active          Positive
 7        8               65              Moderate           Neutral
 8        9               92                Active          Positive
 9       10               88                Active          Positive
 10      11               72              Moderate           Neutral
 11      12               94                Active          Positive
 12      13               78                Active          Positive
 13      14               80              Moderate           Neutral
 14      15               96                Active          Positive
 15      16               82                Active          Positive
 16      17               68              Moderate           Neutral
 17      18               90                Active          Positive
 18      19               88                Active          Positive
 19      20               70              Moderate           Neutral

    CommunityEndorsementsWarnings
 0          Endorsed by community
 1                    No warnings
 2          Endorsed by community
 3          Endorsed by community
 4                    No warnings
 5          Endorsed by community
 6          Endorsed by community
 7                    No warnings
 8          Endorsed by community
 9          Endorsed by community
 10                   No warnings
 11         Endorsed by community
 12         Endorsed by community
 13                   No warnings
 14         Endorsed by community
 15         Endorsed by community
 16                   No warnings
 17         Endorsed by community
 18         Endorsed by community
 19                   No warnings  ,
 'SystemAndPlatformScores':     UserID  SystemTrustScore  PlatformReliabilityScore PastSecurityIncidents
 0        1                90                        85                    No
 1        2                80                        75                    No
 2        3                95                        90                    No
 3        4                85                        80                    No
 4        5                75                        70                    No
 5        6                92                        87                    No
 6        7                88                        83                    No
 7        8                70                        65                    No
 8        9                94                        89                    No
 9       10                91                        86                    No
 10      11                78                        73                    No
 11      12                96                        91                    No
 12      13                82                        77                    No
 13      14                80                        75                    No
 14      15                90                        85                    No

In [3]:
def droper(data_frames, table_name, col_arr):
    data_frames[table_name] = data_frames[table_name].drop(columns=col_arr)

In [4]:
dataframes['ExternalDataSources']

,DataID,EconomicIndicators,NewsEvents,RegulatoryChanges,MarketVolatility
0,1,Stable,No major events,No changes,Low
1,2,Growth,Announcement of new regulations,Increased regulations,Moderate
2,3,Stable,No major events,No changes,Low
3,4,Decline,Market crash reported,Proposed changes in regulations,High
4,5,Stable,No major events,No changes,Low
5,6,Growth,Positive economic news,Revised regulations,Moderate
6,7,Stable,No major events,No changes,Low
7,8,Decline,Negative economic indicators,New regulations implemented,High
8,9,Stable,No major events,No changes,Low
9,10,Growth,Positive economic outlook,Regulatory adjustments,Moderate
10,11,Stable,No major events,No changes,Low
11,12,Decline,Market downturn,Changes in regulatory enforcement,High
12,13,Stable,No major events,No changes,Low
13,14,Growth,Positive economic indicators,Proposed regulatory reforms,Moderate
14,15,Stable,No major events,No changes,Low
15,16,Decline,Economic slowdown,Regulatory compliance updates,High
16,17,Stable,No major events,No changes,Low
17,18,Growth,Economic recovery,Revised regulatory guidelines,Moderate
18,19,Stable,No major events,No changes,Low
19,20,Decline,Market uncertainty,Pending regulatory decisions,High

In [5]:
dataframes["BlockchainTransactions"].sample(10) #p:time,number,one-hot(reciver) r:id

,TransactionID,Timestamp,SenderAddress,ReceiverAddress,AmountTransferred,TransactionFee,BlockHeight
4,5,2024-03-09 08:10:00,sender_address_5,receiver_address_5,150.30,0.8,11238
17,18,2024-02-25 14:35:00,sender_address_18,receiver_address_18,175.40,0.9,11251
3,4,2024-03-10 11:15:00,sender_address_4,receiver_address_4,75.60,0.4,11237
1,2,2024-03-12 18:45:00,sender_address_2,receiver_address_2,250.75,1.2,11235
8,9,2024-03-05 14:55:00,sender_address_9,receiver_address_9,120.20,0.6,11242
16,17,2024-02-26 10:25:00,sender_address_17,receiver_address_17,130.70,0.6,11250
15,16,2024-02-27 08:55:00,sender_address_16,receiver_address_16,90.60,0.3,11249
14,15,2024-02-28 13:20:00,sender_address_15,receiver_address_15,200.25,1.0,11248
12,13,2024-03-01 11:45:00,sender_address_13,receiver_address_13,75.20,0.4,11246
7,8,2024-03-06 10:30:00,sender_address_8,receiver_address_8,80.40,0.3,11241

In [6]:
dataframes["BlockchainTransactions"]

,TransactionID,Timestamp,SenderAddress,ReceiverAddress,AmountTransferred,TransactionFee,BlockHeight
0,1,2024-03-13 09:25:00,sender_address_1,receiver_address_1,100.25,0.50,11234
1,2,2024-03-12 18:45:00,sender_address_2,receiver_address_2,250.75,1.20,11235
2,3,2024-03-11 14:30:00,sender_address_3,receiver_address_3,50.10,0.25,11236
3,4,2024-03-10 11:15:00,sender_address_4,receiver_address_4,75.60,0.40,11237
4,5,2024-03-09 08:10:00,sender_address_5,receiver_address_5,150.30,0.80,11238
5,6,2024-03-08 16:20:00,sender_address_6,receiver_address_6,300.90,1.50,11239
6,7,2024-03-07 12:45:00,sender_address_7,receiver_address_7,200.75,1.00,11240
7,8,2024-03-06 10:30:00,sender_address_8,receiver_address_8,80.40,0.30,11241
8,9,2024-03-05 14:55:00,sender_address_9,receiver_address_9,120.20,0.60,11242
9,10,2024-03-04 17:20:00,sender_address_10,receiver_address_10,180.65,0.90,11243
10,11,2024-03-03 09:30:00,sender_address_11,receiver_address_11,250.40,1.20,11244
11,12,2024-03-02 14:00:00,sender_address_12,receiver_address_12,300.80,1.50,11245
12,13,2024-03-01 11:45:00,sender_address_13,receiver_address_13,75.20,0.40,11246
13,14,2024-02-29 16:10:00,sender_address_14,receiver_address_14,150.90,0.80,11247
14,15,2024-02-28 13:20:00,sender_address_15,receiver_address_15,200.25,1.00,11248
15,16,2024-02-27 08:55:00,sender_address_16,receiver_address_16,90.60,0.30,11249
16,17,2024-02-26 10:25:00,sender_address_17,receiver_address_17,130.70,0.60,11250
17,18,2024-02-25 14:35:00,sender_address_18,receiver_address_18,175.40,0.90,11251
18,19,2024-02-24 16:50:00,sender_address_19,receiver_address_19,220.85,1.10,11252
19,20,2024-02-23 09:40:00,sender_address_20,receiver_address_20,260.30,1.30,11253

dataframes["UserProfile"]

In [7]:
dataframes["UserProfile"].sample(10)#p:date,lableEncoding+Nlp r:name,adress,phone-number,email,id

,UserID,Name,Address,Email,PhoneNumber,KYCStatus,AccountCreationDate
6,7,Olivia Robinson,"741 Birch St, Yetanothercity",olivia.robinson@example.com,333-222-1111,Verified,2023-07-03
11,12,Daniel Walker,"258 Birchwood St, Eccentriccity",daniel.walker@example.com,000-111-2222,Pending,2023-12-19
0,1,John Doe,"123 Main St, Anytown",john.doe@example.com,123-456-7890,Verified,2023-01-15
18,19,Sebastian Green,"852 Birchwoodcrest St, Fantasyland",sebastian.green@example.com,777-000-1111,Verified,2024-07-25
12,13,Amelia Hall,"852 Pinecrest St, Zanycity",amelia.hall@example.com,777-666-5555,Verified,2024-01-24
7,8,William Clark,"852 Oakwood St, Differentcity",william.clark@example.com,777-888-9999,Verified,2023-08-18
13,14,Benjamin Allen,"963 Oakcrest St, Funzone",benjamin.allen@example.com,111-000-9999,Verified,2024-02-09
19,20,Madison Baker,"963 Pinecrestwood St, Wonderland",madison.baker@example.com,111-222-3333,Verified,2024-08-30
5,6,Christopher Martinez,"987 Cedar St, Anothercity",christopher.martinez@example.com,999-888-7777,Pending,2023-06-20
2,3,Alice Johnson,"789 Oak St, Anycity",alice.johnson@example.com,555-555-5555,Pending,2023-03-10

# data View :

In [8]:
import pandas as pd


def handle_dates(data, column_names):
    df = data.copy()
    for column_name in column_names:
        df[column_name] = pd.to_datetime(df[column_name])
    return df

In [9]:
dataframes["UserProfile"].sample(10)#p:date,lableEncoding+Nlp r:name,adress,phone-number,email,id

,UserID,Name,Address,Email,PhoneNumber,KYCStatus,AccountCreationDate
9,10,James Lewis,"159 Spruce St, Specialcity",james.lewis@example.com,444-555-6666,Verified,2023-10-30
18,19,Sebastian Green,"852 Birchwoodcrest St, Fantasyland",sebastian.green@example.com,777-000-1111,Verified,2024-07-25
10,11,Charlotte Lee,"357 Cedarwood St, Quirkytown",charlotte.lee@example.com,888-999-0000,Verified,2023-11-14
5,6,Christopher Martinez,"987 Cedar St, Anothercity",christopher.martinez@example.com,999-888-7777,Pending,2023-06-20
15,16,Ethan Hernandez,"159 Birchcrest St, Mysteryville",ethan.hernandez@example.com,555-666-7777,Verified,2024-04-10
8,9,Sophia Rodriguez,"963 Elmwood St, Uniquecity",sophia.rodriguez@example.com,111-222-3333,Pending,2023-09-25
6,7,Olivia Robinson,"741 Birch St, Yetanothercity",olivia.robinson@example.com,333-222-1111,Verified,2023-07-03
12,13,Amelia Hall,"852 Pinecrest St, Zanycity",amelia.hall@example.com,777-666-5555,Verified,2024-01-24
19,20,Madison Baker,"963 Pinecrestwood St, Wonderland",madison.baker@example.com,111-222-3333,Verified,2024-08-30
17,18,Alexander Scott,"258 Sprucecrest St, Dreamville",alexander.scott@example.com,000-999-8888,Pending,2024-06-20

In [10]:
# Define the columns to drop
columns_to_drop = ['Name', 'Address','Email','UserID','PhoneNumber']

# Specify the name of the DataFrame in the 'dataframes' dictionary
table_update = 'UserProfile'

# Call the function to drop columns
droper(dataframes, table_update, columns_to_drop)
dataframes["UserProfile"].sample(10)

   KYCStatus AccountCreationDate
12  Verified          2024-01-24
10  Verified          2023-11-14
13  Verified          2024-02-09
2    Pending          2023-03-10
1   Verified          2023-02-20
17   Pending          2024-06-20
11   Pending          2023-12-19
14   Pending          2024-03-05
18  Verified          2024-07-25
5    Pending          2023-06-20

In [11]:
dataframes["UserProfile"] = handle_dates(dataframes["UserProfile"], ['AccountCreationDate'])
dataframes["UserProfile"]

   KYCStatus AccountCreationDate
0   Verified          2023-01-15
1   Verified          2023-02-20
2    Pending          2023-03-10
3   Verified          2023-04-05
4   Verified          2023-05-12
5    Pending          2023-06-20
6   Verified          2023-07-03
7   Verified          2023-08-18
8    Pending          2023-09-25
9   Verified          2023-10-30
10  Verified          2023-11-14
11   Pending          2023-12-19
12  Verified          2024-01-24
13  Verified          2024-02-09
14   Pending          2024-03-05
15  Verified          2024-04-10
16  Verified          2024-05-15
17   Pending          2024-06-20
18  Verified          2024-07-25
19  Verified          2024-08-30

In [12]:
from sklearn.preprocessing import LabelEncoder
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
import nltk


def apply_nlp_label_encoding(df, column_names):
    # Tokenization and Stemming
    stemmer = PorterStemmer()
    for column in column_names:
        if column in df.columns:
            if df[column].dtype == 'object':  # Check if the column contains text data
                df[column] = df[column].apply(lambda x: ' '.join([stemmer.stem(word) for word in word_tokenize(x.lower())]))
    
    # Label Encoding
    label_encoder = LabelEncoder()
    for column in column_names:
        if column in df.columns:
            if df[column].dtype == 'object':  # Check if the column contains categorical data
                df[column] = label_encoder.fit_transform(df[column])
    return df

# Assuming 'dataframes' is your dictionary of DataFrames
# Assuming 'BehavioralPatterns' is the key for the DataFrame of interest
dataframes["UserProfile"] = apply_nlp_label_encoding(dataframes["UserProfile"], ['KYCStatus'])

In [13]:
dataframes["UserProfile"]

    KYCStatus AccountCreationDate
0           1          2023-01-15
1           1          2023-02-20
2           0          2023-03-10
3           1          2023-04-05
4           1          2023-05-12
5           0          2023-06-20
6           1          2023-07-03
7           1          2023-08-18
8           0          2023-09-25
9           1          2023-10-30
10          1          2023-11-14
11          0          2023-12-19
12          1          2024-01-24
13          1          2024-02-09
14          0          2024-03-05
15          1          2024-04-10
16          1          2024-05-15
17          0          2024-06-20
18          1          2024-07-25
19          1          2024-08-30

'BlockchainTransactions

In [14]:


dataframes['BlockchainTransactions'] = handle_dates(dataframes['BlockchainTransactions'], ['Timestamp'])

In [15]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

def apply_feature_scaling(dataframe, column_names):


    # Extract the specified columns from the DataFrame
    X = dataframe[column_names].values

    # Split the data into training and testing sets
    X_train, X_test = train_test_split(X, test_size=0.2, random_state=42)

    # Generate placeholder y_train and y_test for demonstration
    y_train = np.random.rand(X_train.shape[0])
    y_test = np.random.rand(X_test.shape[0])

    # Define a dictionary to store the results of different scaling methods
    scaling_results = {}

    # Apply different scaling techniques
    for scaler in [StandardScaler(), MinMaxScaler(), RobustScaler()]:
        scaled_X_train = scaler.fit_transform(X_train)
        scaled_X_test = scaler.transform(X_test)

        # Train a linear regression model
        model = LinearRegression()
        model.fit(scaled_X_train, y_train)

        # Evaluate the model
        y_pred = model.predict(scaled_X_test)
        mse = mean_squared_error(y_test, y_pred)

        # Store the results
        scaling_results[str(scaler)] = mse

    # Find the best scaling method with the lowest MSE
    best_scaling = min(scaling_results, key=scaling_results.get)

    return best_scaling

# Assuming 'dataframes' is your dictionary of DataFrames
best_scaling = apply_feature_scaling(dataframes['BlockchainTransactions'], ['AmountTransferred', 'TransactionFee', 'BlockHeight'])

print("Best scaling method:", best_scaling)

Best scaling method: MinMaxScaler()

In [16]:
from sklearn.preprocessing import MinMaxScaler



# Selecting the columns to scale
columns_to_scale = ['AmountTransferred', 'TransactionFee', 'BlockHeight']

# Initialize MinMaxScaler
scaler = MinMaxScaler()

# Fit and transform the selected columns
dataframes['BlockchainTransactions'][columns_to_scale] = scaler.fit_transform(dataframes['BlockchainTransactions'][columns_to_scale])

# Now the selected columns are scaled between 0 and 1

In [17]:
def OnehotcodeEncoding(df,categorical_columns):

    df = pd.get_dummies(df, columns=categorical_columns)
    return df

In [18]:
 dataframes['BlockchainTransactions'] = OnehotcodeEncoding(dataframes['BlockchainTransactions'], ['ReceiverAddress'])

In [19]:
# Define the columns to drop
columns_to_drop = ['TransactionID', 'SenderAddress']

# Specify the name of the DataFrame in the 'dataframes' dictionary
table_update = 'BlockchainTransactions'

# Call the function to drop columns
droper(dataframes, table_update, columns_to_drop)

In [20]:
 dataframes['BlockchainTransactions']

,Timestamp,AmountTransferred,TransactionFee,BlockHeight,ReceiverAddress_receiver_address_1,ReceiverAddress_receiver_address_10,ReceiverAddress_receiver_address_11,ReceiverAddress_receiver_address_12,ReceiverAddress_receiver_address_13,ReceiverAddress_receiver_address_14,...,ReceiverAddress_receiver_address_19,ReceiverAddress_receiver_address_2,ReceiverAddress_receiver_address_20,ReceiverAddress_receiver_address_3,ReceiverAddress_receiver_address_4,ReceiverAddress_receiver_address_5,ReceiverAddress_receiver_address_6,ReceiverAddress_receiver_address_7,ReceiverAddress_receiver_address_8,ReceiverAddress_receiver_address_9
0,2024-03-13 09:25:00,0.199960,0.20,0.000000,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,2024-03-12 18:45:00,0.800040,0.76,0.052632,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
2,2024-03-11 14:30:00,0.000000,0.00,0.105263,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
3,2024-03-10 11:15:00,0.101675,0.12,0.157895,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
4,2024-03-09 08:10:00,0.399522,0.44,0.210526,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
5,2024-03-08 16:20:00,1.000000,1.00,0.263158,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
6,2024-03-07 12:45:00,0.600678,0.60,0.315789,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
7,2024-03-06 10:30:00,0.120813,0.04,0.368421,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
8,2024-03-05 14:55:00,0.279506,0.28,0.421053,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
9,2024-03-04 17:20:00,0.520534,0.52,0.473684,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10,2024-03-03 09:30:00,0.798644,0.76,0.526316,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11,2024-03-02 14:00:00,0.999601,1.00,0.578947,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
12,2024-03-01 11:45:00,0.100080,0.12,0.631579,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
13,2024-02-29 16:10:00,0.401914,0.44,0.684211,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
14,2024-02-28 13:20:00,0.598684,0.60,0.736842,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15,2024-02-27 08:55:00,0.161483,0.04,0.789474,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16,2024-02-26 10:25:00,0.321372,0.28,0.842105,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
17,2024-02-25 14:35:00,0.499601,0.52,0.894737,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
18,2024-02-24 16:50:00,0.680821,0.68,0.947368,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
19,2024-02-23 09:40:00,0.838118,0.84,1.000000,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False

In [21]:


dataframes["BehavioralPatterns"].sample(10)#p:number,nlp+lableencoding

,UserID,TransactionFrequency,TransactionSizeDistribution,GeographicInconsistencies,TimeOfDayPatterns,RegularVsIrregularBehavior,ChangesInBehaviorOverTime
4,5,18.7,Normal,No,Morning,Regular,Stable
3,4,15.3,Normal,Yes,Night,Irregular,Stable
7,8,9.6,Normal,No,Night,Regular,Stable
19,20,10.3,Skewed towards small transactions,No,Night,Regular,Stable
12,13,13.7,Normal,Yes,Morning,Irregular,Stable
13,14,21.2,Normal,No,Evening,Regular,Stable
8,9,14.2,Normal,No,Morning,Regular,Stable
5,6,10.9,Skewed towards small transactions,No,Evening,Regular,Decreasing
14,15,8.9,Normal,No,Afternoon,Regular,Stable
6,7,22.0,Normal,Yes,Afternoon,Irregular,Increasing

# dataframes["BehavioralPatterns"]

In [22]:

dataframes['BehavioralPatterns'] = apply_nlp_label_encoding(dataframes['BehavioralPatterns'], ['TransactionSizeDistribution', 'GeographicInconsistencies', 'TimeOfDayPatterns', 'RegularVsIrregularBehavior', 'ChangesInBehaviorOverTime'])
dataframes['BehavioralPatterns']

,UserID,TransactionFrequency,TransactionSizeDistribution,GeographicInconsistencies,TimeOfDayPatterns,RegularVsIrregularBehavior,ChangesInBehaviorOverTime
0,1,12.5,0,0,2,1,2
1,2,8.2,1,1,1,0,1
2,3,20.1,0,0,0,1,2
3,4,15.3,0,1,3,0,2
4,5,18.7,0,0,2,1,2
5,6,10.9,2,0,1,1,0
6,7,22.0,0,1,0,0,1
7,8,9.6,0,0,3,1,2
8,9,14.2,0,0,2,1,2
9,10,16.8,0,1,1,0,2
10,11,11.5,1,0,0,1,0
11,12,19.4,0,0,3,1,1
12,13,13.7,0,1,2,0,2
13,14,21.2,0,0,1,1,2
14,15,8.9,0,0,0,1,2
15,16,17.6,0,1,3,0,1
16,17,12.8,0,0,2,1,2
17,18,14.9,0,0,1,1,2
18,19,20.5,0,1,0,0,0
19,20,10.3,2,0,3,1,2

In [23]:
from sklearn.preprocessing import StandardScaler

def numerical_preprocessing(data_frames, table_name, columns):
    if table_name in data_frames:
        scaler = StandardScaler()
        data_frames[table_name][columns] = scaler.fit_transform(data_frames[table_name][columns])
    else:
        print(f"Table '{table_name}' not found in the data_frames dictionary.")

# Assuming 'dataframes' is your dictionary of DataFrames
numerical_preprocessing(dataframes, "BehavioralPatterns", ['TransactionFrequency'])
dataframes['BehavioralPatterns']

,UserID,TransactionFrequency,TransactionSizeDistribution,GeographicInconsistencies,TimeOfDayPatterns,RegularVsIrregularBehavior,ChangesInBehaviorOverTime
0,1,-0.575469,0,0,2,1,2
1,2,-1.583419,1,1,1,0,1
2,3,1.206024,0,0,0,1,2
3,4,0.080870,0,1,3,0,2
4,5,0.877854,0,0,2,1,2
5,6,-0.950520,2,0,1,1,0
6,7,1.651397,0,1,0,0,1
7,8,-1.255249,0,0,3,1,2
8,9,-0.176977,0,0,2,1,2
9,10,0.432481,0,1,1,0,2
10,11,-0.809876,1,0,0,1,0
11,12,1.041939,0,0,3,1,1
12,13,-0.294181,0,1,2,0,2
13,14,1.463872,0,0,1,1,2
14,15,-1.419334,0,0,0,1,2
15,16,0.620007,0,1,3,0,1
16,17,-0.505147,0,0,2,1,2
17,18,-0.012892,0,0,1,1,2
18,19,1.299787,0,1,0,0,0
19,20,-1.091165,2,0,3,1,2

In [24]:
# Define the columns to drop
columns_to_drop = ['UserID']

# Specify the name of the DataFrame in the 'dataframes' dictionary
table_update = 'BehavioralPatterns'

# Call the function to drop columns
droper(dataframes, table_update, columns_to_drop)

In [25]:
dataframes["BehavioralPatterns"]

,TransactionFrequency,TransactionSizeDistribution,GeographicInconsistencies,TimeOfDayPatterns,RegularVsIrregularBehavior,ChangesInBehaviorOverTime
0,-0.575469,0,0,2,1,2
1,-1.583419,1,1,1,0,1
2,1.206024,0,0,0,1,2
3,0.080870,0,1,3,0,2
4,0.877854,0,0,2,1,2
5,-0.950520,2,0,1,1,0
6,1.651397,0,1,0,0,1
7,-1.255249,0,0,3,1,2
8,-0.176977,0,0,2,1,2
9,0.432481,0,1,1,0,2
10,-0.809876,1,0,0,1,0
11,1.041939,0,0,3,1,1
12,-0.294181,0,1,2,0,2
13,1.463872,0,0,1,1,2
14,-1.419334,0,0,0,1,2
15,0.620007,0,1,3,0,1
16,-0.505147,0,0,2,1,2
17,-0.012892,0,0,1,1,2
18,1.299787,0,1,0,0,0
19,-1.091165,2,0,3,1,2

dataframes['CreditAndFinancialHistory']

In [26]:
dataframes['CreditAndFinancialHistory'].sample(10) #number,NLP+label r:i

,UserID,CreditScore,LoanRepaymentHistory,CreditCardUtilization,IncomeLevel,DebtToIncomeRatio,PastFraudulentActivity
6,7,750,Excellent,0.2,65000.0,0.20,No
18,19,780,Excellent,0.2,61000.0,0.19,No
11,12,780,Excellent,0.2,60000.0,0.18,No
10,11,710,Good,0.4,57000.0,0.26,No
9,10,680,Fair,0.5,45000.0,0.30,No
13,14,720,Good,0.3,51000.0,0.24,No
0,1,720,Good,0.3,50000.0,0.25,No
7,8,700,Good,0.4,55000.0,0.25,No
8,9,730,Good,0.3,52000.0,0.22,No
15,16,740,Excellent,0.2,63000.0,0.21,No

In [27]:
# Define the columns to drop
columns_to_drop = ['UserID']

# Specify the name of the DataFrame in the 'dataframes' dictionary
table_update = 'CreditAndFinancialHistory'

# Call the function to drop columns
droper(dataframes, table_update, columns_to_drop)
dataframes['CreditAndFinancialHistory']

,CreditScore,LoanRepaymentHistory,CreditCardUtilization,IncomeLevel,DebtToIncomeRatio,PastFraudulentActivity
0,720,Good,0.3,50000.0,0.25,No
1,650,Fair,0.5,40000.0,0.35,No
2,780,Excellent,0.2,60000.0,0.15,No
3,700,Good,0.4,55000.0,0.28,No
4,680,Good,0.3,48000.0,0.30,No
5,660,Fair,0.6,42000.0,0.32,No
6,750,Excellent,0.2,65000.0,0.20,No
7,700,Good,0.4,55000.0,0.25,No
8,730,Good,0.3,52000.0,0.22,No
9,680,Fair,0.5,45000.0,0.30,No
10,710,Good,0.4,57000.0,0.26,No
11,780,Excellent,0.2,60000.0,0.18,No
12,690,Good,0.3,49000.0,0.28,No
13,720,Good,0.3,51000.0,0.24,No
14,660,Fair,0.5,43000.0,0.31,No
15,740,Excellent,0.2,63000.0,0.21,No
16,700,Good,0.4,55000.0,0.27,No
17,710,Good,0.3,53000.0,0.23,No
18,780,Excellent,0.2,61000.0,0.19,No
19,670,Fair,0.6,44000.0,0.33,No

In [28]:

# Assuming 'dataframes' is your dictionary of DataFrames
best_scaling = apply_feature_scaling(dataframes['CreditAndFinancialHistory'], ['CreditScore', 'CreditCardUtilization', 'IncomeLevel','DebtToIncomeRatio'])

print("Best scaling method:", best_scaling)

Best scaling method: MinMaxScaler()

In [29]:
from sklearn.preprocessing import RobustScaler


# Selecting the columns to scale
columns_to_scale = ['CreditScore', 'CreditCardUtilization', 'IncomeLevel', 'DebtToIncomeRatio']

# Initialize RobustScaler
scaler = RobustScaler()

# Fit and transform the selected columns
dataframes['CreditAndFinancialHistory'][columns_to_scale] = scaler.fit_transform(dataframes['CreditAndFinancialHistory'][columns_to_scale])

# Now the selected columns are scaled using Robust Scaling
dataframes['CreditAndFinancialHistory']

,CreditScore,LoanRepaymentHistory,CreditCardUtilization,IncomeLevel,DebtToIncomeRatio,PastFraudulentActivity
0,0.285714,Good,0.000000,-0.238095,-0.060606,No
1,-1.047619,Fair,1.333333,-1.190476,1.151515,No
2,1.428571,Excellent,-0.666667,0.714286,-1.272727,No
3,-0.095238,Good,0.666667,0.238095,0.303030,No
4,-0.476190,Good,0.000000,-0.428571,0.545455,No
5,-0.857143,Fair,2.000000,-1.000000,0.787879,No
6,0.857143,Excellent,-0.666667,1.190476,-0.666667,No
7,-0.095238,Good,0.666667,0.238095,-0.060606,No
8,0.476190,Good,0.000000,-0.047619,-0.424242,No
9,-0.476190,Fair,1.333333,-0.714286,0.545455,No
10,0.095238,Good,0.666667,0.428571,0.060606,No
11,1.428571,Excellent,-0.666667,0.714286,-0.909091,No
12,-0.285714,Good,0.000000,-0.333333,0.303030,No
13,0.285714,Good,0.000000,-0.142857,-0.181818,No
14,-0.857143,Fair,1.333333,-0.904762,0.666667,No
15,0.666667,Excellent,-0.666667,1.000000,-0.545455,No
16,-0.095238,Good,0.666667,0.238095,0.181818,No
17,0.095238,Good,0.000000,0.047619,-0.303030,No
18,1.428571,Excellent,-0.666667,0.809524,-0.787879,No
19,-0.666667,Fair,2.000000,-0.809524,0.909091,No

In [30]:
dataframes['CreditAndFinancialHistory'] = apply_nlp_label_encoding(dataframes['CreditAndFinancialHistory'], ['LoanRepaymentHistory', 'PastFraudulentActivity', ])
dataframes['CreditAndFinancialHistory']

,CreditScore,LoanRepaymentHistory,CreditCardUtilization,IncomeLevel,DebtToIncomeRatio,PastFraudulentActivity
0,0.285714,2,0.000000,-0.238095,-0.060606,0
1,-1.047619,1,1.333333,-1.190476,1.151515,0
2,1.428571,0,-0.666667,0.714286,-1.272727,0
3,-0.095238,2,0.666667,0.238095,0.303030,0
4,-0.476190,2,0.000000,-0.428571,0.545455,0
5,-0.857143,1,2.000000,-1.000000,0.787879,0
6,0.857143,0,-0.666667,1.190476,-0.666667,0
7,-0.095238,2,0.666667,0.238095,-0.060606,0
8,0.476190,2,0.000000,-0.047619,-0.424242,0
9,-0.476190,1,1.333333,-0.714286,0.545455,0
10,0.095238,2,0.666667,0.428571,0.060606,0
11,1.428571,0,-0.666667,0.714286,-0.909091,0
12,-0.285714,2,0.000000,-0.333333,0.303030,0
13,0.285714,2,0.000000,-0.142857,-0.181818,0
14,-0.857143,1,1.333333,-0.904762,0.666667,0
15,0.666667,0,-0.666667,1.000000,-0.545455,0
16,-0.095238,2,0.666667,0.238095,0.181818,0
17,0.095238,2,0.000000,0.047619,-0.303030,0
18,1.428571,0,-0.666667,0.809524,-0.787879,0
19,-0.666667,1,2.000000,-0.809524,0.909091,0

dataframes['NetworkAnalysis']

In [31]:
dataframes['NetworkAnalysis'].sample(10)#number,lable r:id

,SenderUserID,ReceiverUserID,DegreeCentrality,ClusteringCoefficients,AnomaliesInNetwork
4,5,6,0.83,0.59,None
2,3,1,0.69,0.75,None
7,8,9,0.68,0.79,None
12,13,14,0.67,0.81,None
0,1,2,0.75,0.62,None
6,7,8,0.79,0.66,None
18,19,20,0.72,0.76,None
13,14,15,0.74,0.64,None
19,20,1,0.79,0.63,None
14,15,16,0.80,0.60,None

In [32]:
# Assuming 'dataframes' is your dictionary of DataFrames
best_scaling = apply_feature_scaling(dataframes['NetworkAnalysis'], ['DegreeCentrality', 'ClusteringCoefficients'])

print("Best scaling method:", best_scaling)

Best scaling method: MinMaxScaler()

In [33]:
from sklearn.preprocessing import StandardScaler

# Extract the DataFrame
df = dataframes['NetworkAnalysis']

# Columns to be scaled
columns_to_scale = ['DegreeCentrality', 'ClusteringCoefficients']

# Initialize the StandardScaler
scaler = StandardScaler()

# Apply StandardScaler to the specified columns
df[columns_to_scale] = scaler.fit_transform(df[columns_to_scale])

# Update the DataFrame in the dataframes dictionary
dataframes['NetworkAnalysis'] = df
dataframes['NetworkAnalysis']

,SenderUserID,ReceiverUserID,DegreeCentrality,ClusteringCoefficients,AnomaliesInNetwork
0,1,2,0.030350,-0.914966,None
1,2,3,1.446660,-1.613413,None
2,3,1,-1.183631,0.900997,None
3,4,5,0.232680,-0.076829,None
4,5,6,1.648990,-1.334034,None
5,6,7,-0.778971,0.481929,None
6,7,8,0.839670,-0.356208,None
7,8,9,-1.385961,1.459755,None
8,9,10,0.030350,-0.495898,None
9,10,11,1.244330,-1.054655,None
10,11,12,-0.576641,0.761308,None
11,12,13,0.637340,-0.216519,None
12,13,14,-1.588291,1.739134,None
13,14,15,-0.171981,-0.635587,None
14,15,16,1.042000,-1.194345,None
15,16,17,-0.374311,0.621618,None
16,17,18,0.435010,0.062860,None
17,18,19,-1.790621,1.599444,None
18,19,20,-0.576641,1.040687,None
19,20,1,0.839670,-0.775277,None

In [34]:
def lableEncoding(df,categorical_columns):
    from sklearn.preprocessing import LabelEncoder
    label_encoder = LabelEncoder()


    df[categorical_columns] = df[categorical_columns].apply(label_encoder.fit_transform)
    return df

In [35]:
 dataframes['NetworkAnalysis'] = lableEncoding(dataframes['NetworkAnalysis'],['AnomaliesInNetwork'])

In [36]:
dataframes['NetworkAnalysis']

,SenderUserID,ReceiverUserID,DegreeCentrality,ClusteringCoefficients,AnomaliesInNetwork
0,1,2,0.030350,-0.914966,0
1,2,3,1.446660,-1.613413,0
2,3,1,-1.183631,0.900997,0
3,4,5,0.232680,-0.076829,0
4,5,6,1.648990,-1.334034,0
5,6,7,-0.778971,0.481929,0
6,7,8,0.839670,-0.356208,0
7,8,9,-1.385961,1.459755,0
8,9,10,0.030350,-0.495898,0
9,10,11,1.244330,-1.054655,0
10,11,12,-0.576641,0.761308,0
11,12,13,0.637340,-0.216519,0
12,13,14,-1.588291,1.739134,0
13,14,15,-0.171981,-0.635587,0
14,15,16,1.042000,-1.194345,0
15,16,17,-0.374311,0.621618,0
16,17,18,0.435010,0.062860,0
17,18,19,-1.790621,1.599444,0
18,19,20,-0.576641,1.040687,0
19,20,1,0.839670,-0.775277,0

In [37]:
# Define the columns to drop
columns_to_drop = ['SenderUserID','ReceiverUserID']

# Specify the name of the DataFrame in the 'dataframes' dictionary
table_update = 'NetworkAnalysis'

# Call the function to drop columns
droper(dataframes, table_update, columns_to_drop)
dataframes['NetworkAnalysis']

    DegreeCentrality  ClusteringCoefficients  AnomaliesInNetwork
0           0.030350               -0.914966                   0
1           1.446660               -1.613413                   0
2          -1.183631                0.900997                   0
3           0.232680               -0.076829                   0
4           1.648990               -1.334034                   0
5          -0.778971                0.481929                   0
6           0.839670               -0.356208                   0
7          -1.385961                1.459755                   0
8           0.030350               -0.495898                   0
9           1.244330               -1.054655                   0
10         -0.576641                0.761308                   0
11          0.637340               -0.216519                   0
12         -1.588291                1.739134                   0
13         -0.171981               -0.635587                   0
14          1.042000               -1.194345                   0
15         -0.374311                0.621618                   0
16          0.435010                0.062860                   0
17         -1.790621                1.599444                   0
18         -0.576641                1.040687                   0
19          0.839670               -0.775277                   0

In [38]:
dataframes['SentimentAnalysis'].sample(10)#lable+nlp

,UserID,SocialMediaSentiment,TransactionSentiment,FinancialTransactionSentiment
19,20,Neutral,Negative,Neutral
18,19,Positive,Neutral,Positive
13,14,Neutral,Negative,Neutral
15,16,Positive,Neutral,Positive
14,15,Positive,Positive,Positive
11,12,Positive,Positive,Positive
7,8,Neutral,Negative,Neutral
1,2,Neutral,Negative,Neutral
0,1,Positive,Neutral,Positive
4,5,Neutral,Negative,Neutral

In [39]:
dataframes['SentimentAnalysis'] = apply_nlp_label_encoding(dataframes['SentimentAnalysis'],['SocialMediaSentiment','TransactionSentiment', 'FinancialTransactionSentiment'])
dataframes['SentimentAnalysis']

,UserID,SocialMediaSentiment,TransactionSentiment,FinancialTransactionSentiment
0,1,1,1,1
1,2,0,0,0
2,3,1,2,1
3,4,1,1,1
4,5,0,0,0
5,6,1,2,1
6,7,1,1,1
7,8,0,0,0
8,9,1,2,1
9,10,1,1,1
10,11,0,0,0
11,12,1,2,1
12,13,1,1,1
13,14,0,0,0
14,15,1,2,1
15,16,1,1,1
16,17,0,0,0
17,18,1,2,1
18,19,1,1,1
19,20,0,0,0

In [40]:
# Define the columns to drop
columns_to_drop = ['UserID']

# Specify the name of the DataFrame in the 'dataframes' dictionary
table_update = 'SentimentAnalysis'

# Call the function to drop columns
droper(dataframes, table_update, columns_to_drop)

In [41]:
dataframes['SentimentAnalysis']

    SocialMediaSentiment  TransactionSentiment  FinancialTransactionSentiment
0                      1                     1                              1
1                      0                     0                              0
2                      1                     2                              1
3                      1                     1                              1
4                      0                     0                              0
5                      1                     2                              1
6                      1                     1                              1
7                      0                     0                              0
8                      1                     2                              1
9                      1                     1                              1
10                     0                     0                              0
11                     1                     2                              1
12                     1                     1                              1
13                     0                     0                              0
14                     1                     2                              1
15                     1                     1                              1
16                     0                     0                              0
17                     1                     2                              1
18                     1                     1                              1
19                     0                     0                              0

In [42]:
dataframes['CommunityBehavior'].sample(10)#lable+nlp,number r:id

,UserID,ReputationScore,ParticipationInForums,FeedbackFromPeers,CommunityEndorsementsWarnings
8,9,92,Active,Positive,Endorsed by community
9,10,88,Active,Positive,Endorsed by community
19,20,70,Moderate,Neutral,No warnings
12,13,78,Active,Positive,Endorsed by community
17,18,90,Active,Positive,Endorsed by community
5,6,90,Active,Positive,Endorsed by community
2,3,95,Active,Positive,Endorsed by community
6,7,85,Active,Positive,Endorsed by community
15,16,82,Active,Positive,Endorsed by community
3,4,80,Active,Positive,Endorsed by community

In [43]:
from sklearn.preprocessing import StandardScaler

# Extract the DataFrame
df = dataframes['CommunityBehavior']

# Columns to be scaled
columns_to_scale = ['ReputationScore']

# Initialize the StandardScaler
scaler = StandardScaler()

# Apply StandardScaler to the specified columns
df[columns_to_scale] = scaler.fit_transform(df[columns_to_scale])

# Update the DataFrame in the dataframes dictionary
dataframes['CommunityBehavior'] = df

In [44]:
dataframes['CommunityBehavior'] = apply_nlp_label_encoding(dataframes['CommunityBehavior'],['ParticipationInForums','FeedbackFromPeers','CommunityEndorsementsWarnings'])

In [45]:
dataframes['CommunityBehavior']

,UserID,ReputationScore,ParticipationInForums,FeedbackFromPeers,CommunityEndorsementsWarnings
0,1,0.302734,0,1,0
1,2,-1.290601,1,0,1
2,3,1.364957,0,1,0
3,4,-0.228378,0,1,0
4,5,-0.759490,1,0,1
5,6,0.833845,0,1,0
6,7,0.302734,0,1,0
7,8,-1.821713,1,0,1
8,9,1.046290,0,1,0
9,10,0.621401,0,1,0
10,11,-1.078156,1,0,1
11,12,1.258734,0,1,0
12,13,-0.440823,0,1,0
13,14,-0.228378,1,0,1
14,15,1.471179,0,1,0
15,16,-0.015933,0,1,0
16,17,-1.503046,1,0,1
17,18,0.833845,0,1,0
18,19,0.621401,0,1,0
19,20,-1.290601,1,0,1

In [46]:
# Define the columns to drop
columns_to_drop = ['UserID']

# Specify the name of the DataFrame in the 'dataframes' dictionary
table_update = 'CommunityBehavior'

# Call the function to drop columns
droper(dataframes, table_update, columns_to_drop)

In [47]:
dataframes['SentimentAnalysis']

    SocialMediaSentiment  TransactionSentiment  FinancialTransactionSentiment
0                      1                     1                              1
1                      0                     0                              0
2                      1                     2                              1
3                      1                     1                              1
4                      0                     0                              0
5                      1                     2                              1
6                      1                     1                              1
7                      0                     0                              0
8                      1                     2                              1
9                      1                     1                              1
10                     0                     0                              0
11                     1                     2                              1
12                     1                     1                              1
13                     0                     0                              0
14                     1                     2                              1
15                     1                     1                              1
16                     0                     0                              0
17                     1                     2                              1
18                     1                     1                              1
19                     0                     0                              0

In [49]:

# Assuming 'dataframes' is your dictionary of DataFrames
best_scaling = apply_feature_scaling(dataframes['SystemAndPlatformScores'], ['SystemTrustScore', 'PlatformReliabilityScore'])

print("Best scaling method:", best_scaling)

Best scaling method: MinMaxScaler()

In [50]:
from sklearn.preprocessing import MinMaxScaler

# Assuming dataframes is a dictionary containing your DataFrames
# Extract the DataFrame containing 'SystemTrustScore' and 'PlatformReliabilityScore'
df_system_platform_scores = dataframes['SystemAndPlatformScores'][['SystemTrustScore', 'PlatformReliabilityScore']]

# Initialize MinMaxScaler
scaler = MinMaxScaler()

# Fit and transform the data
scaled_data = scaler.fit_transform(df_system_platform_scores)

# Create a new DataFrame with scaled data
scaled_df_system_platform_scores = pd.DataFrame(scaled_data, columns=['SystemTrustScore_scaled', 'PlatformReliabilityScore_scaled'])

# Update the original DataFrame with the scaled scores
dataframes['SystemAndPlatformScores'] = pd.concat([dataframes['SystemAndPlatformScores'].drop(['SystemTrustScore', 'PlatformReliabilityScore'], axis=1), scaled_df_system_platform_scores], axis=1)

In [51]:
dataframes['SystemAndPlatformScores']

,UserID,PastSecurityIncidents,SystemTrustScore_scaled,PlatformReliabilityScore_scaled
0,1,No,0.769231,0.769231
1,2,No,0.384615,0.384615
2,3,No,0.961538,0.961538
3,4,No,0.576923,0.576923
4,5,No,0.192308,0.192308
5,6,No,0.846154,0.846154
6,7,No,0.692308,0.692308
7,8,No,0.000000,0.000000
8,9,No,0.923077,0.923077
9,10,No,0.807692,0.807692
10,11,No,0.307692,0.307692
11,12,No,1.000000,1.000000
12,13,No,0.461538,0.461538
13,14,No,0.384615,0.384615
14,15,No,0.769231,0.769231
15,16,No,0.576923,0.576923
16,17,No,0.192308,0.192308
17,18,No,0.846154,0.846154
18,19,No,0.692308,0.692308
19,20,No,0.384615,0.384615
20,21,No,0.307692,0.307692
21,22,yes,1.000000,1.000000
22,23,No,0.461538,0.461538
23,24,yes,0.384615,0.384615
24,25,No,0.769231,0.769231

In [52]:
# Define the columns to drop
columns_to_drop = ['UserID']

# Specify the name of the DataFrame in the 'dataframes' dictionary
table_update = 'SystemAndPlatformScores'

# Call the function to drop columns
droper(dataframes, table_update, columns_to_drop)

In [53]:
def lableEncoding(df, categorical_columns):
    from sklearn.preprocessing import LabelEncoder
    label_encoder = LabelEncoder()

    for column in categorical_columns:
        df[column] = label_encoder.fit_transform(df[column])

    return df

In [54]:
 dataframes['SystemAndPlatformScores'] = lableEncoding(dataframes['SystemAndPlatformScores'],['PastSecurityIncidents'])

In [55]:
dataframes['SystemAndPlatformScores']

,PastSecurityIncidents,SystemTrustScore_scaled,PlatformReliabilityScore_scaled
0,0,0.769231,0.769231
1,0,0.384615,0.384615
2,0,0.961538,0.961538
3,0,0.576923,0.576923
4,0,0.192308,0.192308
5,0,0.846154,0.846154
6,0,0.692308,0.692308
7,0,0.000000,0.000000
8,0,0.923077,0.923077
9,0,0.807692,0.807692
10,0,0.307692,0.307692
11,0,1.000000,1.000000
12,0,0.461538,0.461538
13,0,0.384615,0.384615
14,0,0.769231,0.769231
15,0,0.576923,0.576923
16,0,0.192308,0.192308
17,0,0.846154,0.846154
18,0,0.692308,0.692308
19,0,0.384615,0.384615
20,0,0.307692,0.307692
21,1,1.000000,1.000000
22,0,0.461538,0.461538
23,1,0.384615,0.384615
24,0,0.769231,0.769231

In [56]:
dataframes['DeviceAndIPInformation'].sample(10)#lable r:(id,ip,loc)

,UserID,DeviceID,IPAddress,DeviceLocation,DeviceTypeAndVersion,ProxyOrVPNUsage
3,4,device_id_4,192.168.1.20,San Francisco,Tablet - iPadOS 15.0,No
22,23,device_id_23,172.16.0.20,Miami,Laptop - Windows 11,No
8,9,device_id_9,192.168.1.40,Dallas,Laptop - Windows 10,Yes
6,7,device_id_7,10.0.0.15,Seattle,Mobile - iOS 15.0,Yes
13,14,device_id_14,10.0.0.30,Austin,Desktop - Linux Ubuntu 20.04,No
19,20,device_id_20,10.0.0.40,Detroit,Mobile - iOS 15.0,No
20,21,device_id_21,192.168.1.50,Chicago,Desktop - Linux Ubuntu 20.04,No
0,1,device_id_1,192.168.1.10,New York,Mobile - iOS 14.5,No
1,2,device_id_2,10.0.0.5,Los Angeles,Desktop - Windows 10,Yes
4,5,device_id_5,10.0.0.10,Houston,Laptop - macOS 12.0,Yes

In [57]:
# Define the columns to drop
columns_to_drop = ['UserID','IPAddress','DeviceLocation','DeviceID','DeviceTypeAndVersion']

# Specify the name of the DataFrame in the 'dataframes' dictionary
table_update = 'DeviceAndIPInformation'

# Call the function to drop columns
droper(dataframes, table_update, columns_to_drop)
dataframes['DeviceAndIPInformation']

   ProxyOrVPNUsage
0               No
1              Yes
2               No
3               No
4              Yes
5               No
6              Yes
7               No
8              Yes
9               No
10             Yes
11              No
12             Yes
13              No
14             Yes
15              No
16             Yes
17              No
18             Yes
19              No
20              No
21             Yes
22              No
23             Yes
24              No

In [58]:
 dataframes['DeviceAndIPInformation'] = lableEncoding(dataframes['DeviceAndIPInformation'],['ProxyOrVPNUsage'])

In [59]:
 dataframes['DeviceAndIPInformation']

    ProxyOrVPNUsage
0                 0
1                 1
2                 0
3                 0
4                 1
5                 0
6                 1
7                 0
8                 1
9                 0
10                1
11                0
12                1
13                0
14                1
15                0
16                1
17                0
18                1
19                0
20                0
21                1
22                0
23                1
24                0

In [60]:
dataframes['MachineLearningFeatures'].sample(10)#lable r:id

,UserID,HistoricalFraudData,AnomalyDetectionFeatures,ClusteringFeatures,DeepLearningModelFeatures
6,7,No,Yes,No,Yes
16,17,No,Yes,Yes,No
11,12,No,Yes,No,Yes
0,1,No,Yes,No,Yes
21,22,Yes,No,No,Yes
15,16,No,Yes,No,Yes
19,20,No,Yes,Yes,No
1,2,No,Yes,Yes,No
14,15,No,Yes,No,Yes
17,18,No,Yes,No,Yes

In [61]:
dataframes['MachineLearningFeatures'] = lableEncoding(dataframes['MachineLearningFeatures'],['HistoricalFraudData','AnomalyDetectionFeatures','ClusteringFeatures','DeepLearningModelFeatures'])
dataframes['MachineLearningFeatures']

,UserID,HistoricalFraudData,AnomalyDetectionFeatures,ClusteringFeatures,DeepLearningModelFeatures
0,1,0,1,0,1
1,2,0,1,1,0
2,3,0,1,0,1
3,4,0,1,0,1
4,5,0,1,1,0
5,6,0,1,0,1
6,7,0,1,0,1
7,8,0,1,1,0
8,9,0,1,0,1
9,10,0,1,0,1
10,11,0,1,1,0
11,12,0,1,0,1
12,13,0,1,0,1
13,14,0,1,1,0
14,15,0,1,0,1
15,16,0,1,0,1
16,17,0,1,1,0
17,18,0,1,0,1
18,19,0,1,0,1
19,20,0,1,1,0
20,21,1,0,1,0
21,22,1,0,0,1
22,23,1,0,1,0
23,24,1,0,0,1
24,25,1,0,1,0

In [62]:
# Define the columns to drop
columns_to_drop = ['UserID']

# Specify the name of the DataFrame in the 'dataframes' dictionary
table_update = 'MachineLearningFeatures'

# Call the function to drop columns
droper(dataframes, table_update, columns_to_drop)

In [63]:
dataframes['MachineLearningFeatures']

,HistoricalFraudData,AnomalyDetectionFeatures,ClusteringFeatures,DeepLearningModelFeatures
0,0,1,0,1
1,0,1,1,0
2,0,1,0,1
3,0,1,0,1
4,0,1,1,0
5,0,1,0,1
6,0,1,0,1
7,0,1,1,0
8,0,1,0,1
9,0,1,0,1
10,0,1,1,0
11,0,1,0,1
12,0,1,0,1
13,0,1,1,0
14,0,1,0,1
15,0,1,0,1
16,0,1,1,0
17,0,1,0,1
18,0,1,0,1
19,0,1,1,0
20,1,0,1,0
21,1,0,0,1
22,1,0,1,0
23,1,0,0,1
24,1,0,1,0

In [64]:
dataframes['HistoricalFraudData'].sample(10)#lable r:id

,TransactionID,FraudulentTransactions,PreviousFraudulentActivity,BlacklistedEntities
13,14,No,No,None
7,8,No,No,None
11,12,No,No,None
15,16,No,No,None
19,20,No,No,None
24,25,Yes,Yes,Customer JKL
6,7,No,No,None
16,17,No,No,None
8,9,No,No,None
2,3,No,No,None

In [65]:
# Define the columns to drop
columns_to_drop = ['TransactionID','BlacklistedEntities']

# Specify the name of the DataFrame in the 'dataframes' dictionary
table_update = 'HistoricalFraudData'

# Call the function to drop columns
droper(dataframes, table_update, columns_to_drop)

 dataframes['MachineLearningFeatures']

In [66]:
 dataframes['HistoricalFraudData'] = lableEncoding(dataframes['HistoricalFraudData'],['FraudulentTransactions','PreviousFraudulentActivity'])

In [67]:
dataframes['HistoricalFraudData']

    FraudulentTransactions  PreviousFraudulentActivity
0                        0                           0
1                        0                           0
2                        0                           0
3                        0                           0
4                        0                           0
5                        0                           0
6                        0                           0
7                        0                           0
8                        0                           0
9                        0                           0
10                       0                           0
11                       0                           0
12                       0                           0
13                       0                           0
14                       0                           0
15                       0                           0
16                       0                           0
17                       0                           0
18                       0                           0
19                       0                           0
20                       1                           1
21                       1                           1
22                       1                           1
23                       1                           1
24                       1                           1

## missing data prediction method

In [68]:
import numpy as np
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam

def apply_mice(data, max_iter=10, random_state=None):


    # Convert to numpy array if DataFrame is provided
    if hasattr(data, 'to_numpy'):
        data = data.to_numpy()

    # Initialize MICE imputer
    mice_imputer = IterativeImputer(max_iter=max_iter, random_state=random_state)

    # Fill missing values using MICE
    filled_data = mice_imputer.fit_transform(data)

    return filled_data

## combining

In [69]:
import pandas as pd

def combiner(dataframes, table_names):
    combined_dataframes = {}
    for table_name in table_names:
        combined_dataframes[table_name] = dataframes[table_name]
        
    combined_df = pd.concat(combined_dataframes.values(), axis=1)
    return combined_df

# Assuming dataframes is a dictionary containing DataFrames for each table
combine_df = combiner(dataframes, table_names)

In [70]:
table_names = [
    "BlockchainTransactions",
    "UserProfile",
    "BehavioralPatterns",
    "CreditAndFinancialHistory",
    "NetworkAnalysis",
    "SentimentAnalysis",
    "CommunityBehavior",
    "SystemAndPlatformScores",
    "DeviceAndIPInformation",
    "MachineLearningFeatures",
    "HistoricalFraudData",
    
]

combine_df=combiner(dataframes,table_names)

In [71]:
combine_df.drop

<bound method DataFrame.drop of              Timestamp  AmountTransferred  TransactionFee  BlockHeight  \
0  2024-03-13 09:25:00           0.100290        0.102041     0.000000
1  2024-03-12 18:45:00           0.401260        0.387755     0.041667
2  2024-03-11 14:30:00           0.000000        0.000000     0.083333
3  2024-03-10 11:15:00           0.050995        0.061224     0.125000
4  2024-03-09 08:10:00           0.200380        0.224490     0.166667
5  2024-03-08 16:20:00           0.501550        0.510204     0.208333
6  2024-03-07 12:45:00           0.301270        0.306122     0.250000
7  2024-03-06 10:30:00           0.060594        0.020408     0.291667
8  2024-03-05 14:55:00           0.140186        0.142857     0.333333
9  2024-03-04 17:20:00           0.261074        0.265306     0.375000
10 2024-03-03 09:30:00           0.400560        0.387755     0.416667
11 2024-03-02 14:00:00           0.501350        0.510204     0.458333
12 2024-03-01 11:45:00           0.050195        0.061224     0.500000
13 2024-02-29 16:10:00           0.201580        0.224490     0.541667
14 2024-02-28 13:20:00           0.300270        0.306122     0.583333
15 2024-02-27 08:55:00           0.080992        0.020408     0.625000
16 2024-02-26 10:25:00           0.161184        0.142857     0.666667
17 2024-02-25 14:35:00           0.250575        0.265306     0.708333
18 2024-02-24 16:50:00           0.341466        0.346939     0.750000
19 2024-02-23 09:40:00           0.420358        0.428571     0.791667
20 2024-02-22 11:30:00           0.600640        0.591837     0.833333
21 2024-02-21 14:45:00           0.700930        0.714286     0.875000
22 2024-02-20 17:50:00           0.801220        0.836735     0.916667
23 2024-02-19 09:55:00           0.901510        0.918367     0.958333
24 2024-02-18 12:10:00           1.000000        1.000000     1.000000

    ReceiverAddress_receiver_address_1  ReceiverAddress_receiver_address_10  \
0                                 True                                False
1                                False                                False
2                                False                                False
3                                False                                False
4                                False                                False
5                                False                                False
6                                False                                False
7                                False                                False
8                                False                                False
9                                False                                 True
10                               False                                False
11                               False                                False
12                               False                                False
13                               False                                False
14                               False                                False
15                               False                                False
16                               False                                False
17                               False                                False
18                               False                                False
19                               False                                False
20                               False                                False
21                               False                                False
22                               False                                False
23                               False                                False
24                               False                                False

    ReceiverAddress_receiver_address_11  ReceiverAddress_receiver_address_12  \
0                                 False                                False
1                                 False                                False
2                                 False                                False
3                                 False                                False
4                                 False                                False
5                                 False                                False
6                                 False                                False
7                                 False                                False
8                                 False                                False
9                                 False                                False
10                                 True                                False
11                                False                                 True
12                                False                                False
13                                False                                False
14                                False                                False
15                                False                                False
16                                False                                False
17                                False                                False
18                                False                                False
19                                False                                False
20                                False                                False
21                                False                                False
22                                False                                False
23                                False                                False
24                                False                                False

    ReceiverAddress_receiver_address_13  ReceiverAddress_receiver_address_14  \
0                                 False                                False
1                                 False                                False
2                                 False                                False
3                                 False                                False
4                                 False                                False
5                                 False                                False
6                                 False                                False
7                                 False                                False
8                                 False                                False
9                                 False                                False
10                                False                                False
11                                False                                False
12                                 True                                False
13                                False                                 True
14                                False                                False
15                                False                                False
16                                False                                False
17                                False                                False
18                                False                                False
19                                False                                False
20                                False                                False
21                                False                                False
22                                False                                False
23                                False                                False
24                                False                                False

    ...  PastSecurityIncidents  SystemTrustScore_scaled  \
0   ...                      0                 0.769231
1   ...                      0                 0.384615
2   ...                      0                 0.961538
3   ...                      0                 0.576923
4   ...                      0                 0.192308
5   ...                      0                 0.846154
6   ...                      0                 0.692308
7   ...                      0                 0.000000
8   ...                      0                 0.923077
9   ...                      0                 0.807692
10  ...                      0                 0.307692
11  ...                      0                 1.000000
12  ...                      0                 0.461538
13  ...                      0                 0.384615
14  ...                      0                 0.769231
15  ...                      0                 0.576923
16  ...                      0                 0.192308
17  ...                      0                 0.846154
18  ...                      0                 0.692308
19  ...                      0                 0.384615
20  ...                      0                 0.307692
21  ...                      1                 1.000000
22  ...                      0                 0.461538
23  ...                      1                 0.384615
24  ...                      0                 0.769231

    PlatformReliabilityScore_scaled  ProxyOrVPNUsage  HistoricalFraudData  \
0                          0.769231                0                    0
1                          0.384615                1                    0
2                          0.961538                0                    0
3                          0.576923                0                    0
4                          0.192308                1                    0
5                          0.846154                0                    0
6                          0.692308                1                    0
7                          0.000000                0                    0
8                          0.923077                1                    0
9                          0.807692                0                    0
10                         0.307692                1                    0
11                         1.000000                0                    0
12                         0.461538                1                    0
13                         0.384615                0                    0
14                         0.769231                1                    0
15                         0.576923                0                    0
16                         0.192308                1                    0
17                         0.846154                0                    0
18                         0.692308                1                    0
19                         0.384615                0                    0
20                         0.307692                0                    1
21                         1.000000                1                    1
22                         0.461538                0                    1
23                         0.384615                1                    1
24                         0.769231                0                    1

    AnomalyDetectionFeatures  ClusteringFeatures  DeepLearningModelFeatures  \
0                          1                   0                          1
1                          1                   1                          0
2                          1                   0                          1
3                          1                   0                          1
4                          1                   1                          0
5                          1                   0                          1
6                          1                   0                          1
7                          1                   1                          0
8                          1                   0                          1
9                          1                   0                          1
10                         1                   1                          0
11                         1                   0                          1
12                         1                   0                          1
13                         1                   1                          0
14                         1                   0                          1
15                         1                   0                          1
16                         1                   1                          0
17                         1                   0                          1
18                         1                   0                          1
19                         1                   1                          0
20                         0                   1                          0
21                         0                   0                          1
22                         0                   1                          0
23                         0                   0                          1
24                         0                   1                          0

    FraudulentTransactions  PreviousFraudulentActivity
0                        0                           0
1                        0                           0
2                        0                           0
3                        0                           0
4                        0                           0
5                        0                           0
6                        0                           0
7                        0                           0
8                        0                           0
9                        0                           0
10                       0                           0
11                       0                           0
12                       0                           0
13                       0                           0
14                       0                           0
15                       0                           0
16                       0                           0
17                       0                           0
18                       0                           0
19                       0                           0
20                       1                           1
21                       1                           1
22                       1                           1
23                       1                           1
24                       1                           1

[25 rows x 63 columns]>

## regularisation

In [72]:
combine_df.drop(columns=['Timestamp', 'AccountCreationDate'], inplace=True)

In [73]:
combine_df

,AmountTransferred,TransactionFee,BlockHeight,ReceiverAddress_receiver_address_1,ReceiverAddress_receiver_address_10,ReceiverAddress_receiver_address_11,ReceiverAddress_receiver_address_12,ReceiverAddress_receiver_address_13,ReceiverAddress_receiver_address_14,ReceiverAddress_receiver_address_15,...,PastSecurityIncidents,SystemTrustScore_scaled,PlatformReliabilityScore_scaled,ProxyOrVPNUsage,HistoricalFraudData,AnomalyDetectionFeatures,ClusteringFeatures,DeepLearningModelFeatures,FraudulentTransactions,PreviousFraudulentActivity
0,0.100290,0.102041,0.000000,True,False,False,False,False,False,False,...,0,0.769231,0.769231,0,0,1,0,1,0,0
1,0.401260,0.387755,0.041667,False,False,False,False,False,False,False,...,0,0.384615,0.384615,1,0,1,1,0,0,0
2,0.000000,0.000000,0.083333,False,False,False,False,False,False,False,...,0,0.961538,0.961538,0,0,1,0,1,0,0
3,0.050995,0.061224,0.125000,False,False,False,False,False,False,False,...,0,0.576923,0.576923,0,0,1,0,1,0,0
4,0.200380,0.224490,0.166667,False,False,False,False,False,False,False,...,0,0.192308,0.192308,1,0,1,1,0,0,0
5,0.501550,0.510204,0.208333,False,False,False,False,False,False,False,...,0,0.846154,0.846154,0,0,1,0,1,0,0
6,0.301270,0.306122,0.250000,False,False,False,False,False,False,False,...,0,0.692308,0.692308,1,0,1,0,1,0,0
7,0.060594,0.020408,0.291667,False,False,False,False,False,False,False,...,0,0.000000,0.000000,0,0,1,1,0,0,0
8,0.140186,0.142857,0.333333,False,False,False,False,False,False,False,...,0,0.923077,0.923077,1,0,1,0,1,0,0
9,0.261074,0.265306,0.375000,False,True,False,False,False,False,False,...,0,0.807692,0.807692,0,0,1,0,1,0,0
10,0.400560,0.387755,0.416667,False,False,True,False,False,False,False,...,0,0.307692,0.307692,1,0,1,1,0,0,0
11,0.501350,0.510204,0.458333,False,False,False,True,False,False,False,...,0,1.000000,1.000000,0,0,1,0,1,0,0
12,0.050195,0.061224,0.500000,False,False,False,False,True,False,False,...,0,0.461538,0.461538,1,0,1,0,1,0,0
13,0.201580,0.224490,0.541667,False,False,False,False,False,True,False,...,0,0.384615,0.384615,0,0,1,1,0,0,0
14,0.300270,0.306122,0.583333,False,False,False,False,False,False,True,...,0,0.769231,0.769231,1,0,1,0,1,0,0
15,0.080992,0.020408,0.625000,False,False,False,False,False,False,False,...,0,0.576923,0.576923,0,0,1,0,1,0,0
16,0.161184,0.142857,0.666667,False,False,False,False,False,False,False,...,0,0.192308,0.192308,1,0,1,1,0,0,0
17,0.250575,0.265306,0.708333,False,False,False,False,False,False,False,...,0,0.846154,0.846154,0,0,1,0,1,0,0
18,0.341466,0.346939,0.750000,False,False,False,False,False,False,False,...,0,0.692308,0.692308,1,0,1,0,1,0,0
19,0.420358,0.428571,0.791667,False,False,False,False,False,False,False,...,0,0.384615,0.384615,0,0,1,1,0,0,0
20,0.600640,0.591837,0.833333,False,False,False,False,False,False,False,...,0,0.307692,0.307692,0,1,0,1,0,1,1
21,0.700930,0.714286,0.875000,False,False,False,False,False,False,False,...,1,1.000000,1.000000,1,1,0,0,1,1,1
22,0.801220,0.836735,0.916667,False,False,False,False,False,False,False,...,0,0.461538,0.461538,0,1,0,1,0,1,1
23,0.901510,0.918367,0.958333,False,False,False,False,False,False,False,...,1,0.384615,0.384615,1,1,0,0,1,1,1
24,1.000000,1.000000,1.000000,False,False,False,False,False,False,False,...,0,0.769231,0.769231,0,1,0,1,0,1,1

In [74]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from tensorflow import keras
from tensorflow.keras import layers

# Load the dataset
data = combine_df

# Separate features and target variable
X = data.drop(columns=['FraudulentTransactions'])
y = data['FraudulentTransactions']

X_encoded = X
# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=0.2, random_state=42)

In [75]:
y_train.shape

(20,)

In [76]:
# Check unique values in y_train
y_train.all

<bound method Series.all of 9     0
13    0
1     0
22    1
5     0
2     0
12    0
15    0
3     0
4     0
20    1
17    0
21    1
18    0
24    1
7     0
10    0
14    0
19    0
6     0
Name: FraudulentTransactions, dtype: int32>

In [77]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, 9 to 6
Data columns (total 60 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   AmountTransferred                    20 non-null     float64
 1   TransactionFee                       20 non-null     float64
 2   BlockHeight                          20 non-null     float64
 3   ReceiverAddress_receiver_address_1   20 non-null     bool
 4   ReceiverAddress_receiver_address_10  20 non-null     bool
 5   ReceiverAddress_receiver_address_11  20 non-null     bool
 6   ReceiverAddress_receiver_address_12  20 non-null     bool
 7   ReceiverAddress_receiver_address_13  20 non-null     bool
 8   ReceiverAddress_receiver_address_14  20 non-null     bool
 9   ReceiverAddress_receiver_address_15  20 non-null     bool
 10  ReceiverAddress_receiver_address_16  20 non-null     bool
 11  ReceiverAddress_receiver_address_17  20 non-null     bool
 12  ReceiverAddress_receiver_address_18  20 non-null     bool
 13  ReceiverAddress_receiver_address_19  20 non-null     bool
 14  ReceiverAddress_receiver_address_2   20 non-null     bool
 15  ReceiverAddress_receiver_address_20  20 non-null     bool
 16  ReceiverAddress_receiver_address_21  20 non-null     bool
 17  ReceiverAddress_receiver_address_22  20 non-null     bool
 18  ReceiverAddress_receiver_address_23  20 non-null     bool
 19  ReceiverAddress_receiver_address_24  20 non-null     bool
 20  ReceiverAddress_receiver_address_25  20 non-null     bool
 21  ReceiverAddress_receiver_address_3   20 non-null     bool
 22  ReceiverAddress_receiver_address_4   20 non-null     bool
 23  ReceiverAddress_receiver_address_5   20 non-null     bool
 24  ReceiverAddress_receiver_address_6   20 non-null     bool
 25  ReceiverAddress_receiver_address_7   20 non-null     bool
 26  ReceiverAddress_receiver_address_8   20 non-null     bool
 27  ReceiverAddress_receiver_address_9   20 non-null     bool
 28  KYCStatus                            20 non-null     int32
 29  TransactionFrequency                 20 non-null     float64
 30  TransactionSizeDistribution          20 non-null     int32
 31  GeographicInconsistencies            20 non-null     int32
 32  TimeOfDayPatterns                    20 non-null     int32
 33  RegularVsIrregularBehavior           20 non-null     int32
 34  ChangesInBehaviorOverTime            20 non-null     int32
 35  CreditScore                          20 non-null     float64
 36  LoanRepaymentHistory                 20 non-null     int32
 37  CreditCardUtilization                20 non-null     float64
 38  IncomeLevel                          20 non-null     float64
 39  DebtToIncomeRatio                    20 non-null     float64
 40  PastFraudulentActivity               20 non-null     int32
 41  DegreeCentrality                     20 non-null     float64
 42  ClusteringCoefficients               20 non-null     float64
 43  AnomaliesInNetwork                   20 non-null     int32
 44  SocialMediaSentiment                 20 non-null     int32
 45  TransactionSentiment                 20 non-null     int32
 46  FinancialTransactionSentiment        20 non-null     int32
 47  ReputationScore                      20 non-null     float64
 48  ParticipationInForums                20 non-null     int32
 49  FeedbackFromPeers                    20 non-null     int32
 50  CommunityEndorsementsWarnings        20 non-null     int32
 51  PastSecurityIncidents                20 non-null     int32
 52  SystemTrustScore_scaled              20 non-null     float64
 53  PlatformReliabilityScore_scaled      20 non-null     float64
 54  ProxyOrVPNUsage                      20 non-null     int32
 55  HistoricalFraudData                  20 non-null     int32
 56  AnomalyDetectionFeatures             20 non-null     int32
 57  ClusteringFeatures                   20 non-null     int32
 58  DeepLearningModelFeatures            20 non-null     int32
 59  PreviousFraudulentActivity           20 non-null     int32
dtypes: bool(25), float64(13), int32(22)
memory usage: 4.4 KB

In [78]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Assuming X contains your features and y contains your target variable

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create the logistic regression model
logistic_regression = LogisticRegression()

# Fit the model on the training data
logistic_regression.fit(X_train, y_train)

# Predict the target variable on the testing data
y_pred = logistic_regression.predict(X_test)

# Calculate the accuracy of the model
accuracy = accuracy_score(y_test, y_pred)

# Print the accuracy
print("Accuracy:", accuracy)

Accuracy: 1.0

In [84]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 8 to 11
Data columns (total 60 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   AmountTransferred                    5 non-null      float64
 1   TransactionFee                       5 non-null      float64
 2   BlockHeight                          5 non-null      float64
 3   ReceiverAddress_receiver_address_1   5 non-null      bool
 4   ReceiverAddress_receiver_address_10  5 non-null      bool
 5   ReceiverAddress_receiver_address_11  5 non-null      bool
 6   ReceiverAddress_receiver_address_12  5 non-null      bool
 7   ReceiverAddress_receiver_address_13  5 non-null      bool
 8   ReceiverAddress_receiver_address_14  5 non-null      bool
 9   ReceiverAddress_receiver_address_15  5 non-null      bool
 10  ReceiverAddress_receiver_address_16  5 non-null      bool
 11  ReceiverAddress_receiver_address_17  5 non-null      bool
 12  ReceiverAddress_receiver_address_18  5 non-null      bool
 13  ReceiverAddress_receiver_address_19  5 non-null      bool
 14  ReceiverAddress_receiver_address_2   5 non-null      bool
 15  ReceiverAddress_receiver_address_20  5 non-null      bool
 16  ReceiverAddress_receiver_address_21  5 non-null      bool
 17  ReceiverAddress_receiver_address_22  5 non-null      bool
 18  ReceiverAddress_receiver_address_23  5 non-null      bool
 19  ReceiverAddress_receiver_address_24  5 non-null      bool
 20  ReceiverAddress_receiver_address_25  5 non-null      bool
 21  ReceiverAddress_receiver_address_3   5 non-null      bool
 22  ReceiverAddress_receiver_address_4   5 non-null      bool
 23  ReceiverAddress_receiver_address_5   5 non-null      bool
 24  ReceiverAddress_receiver_address_6   5 non-null      bool
 25  ReceiverAddress_receiver_address_7   5 non-null      bool
 26  ReceiverAddress_receiver_address_8   5 non-null      bool
 27  ReceiverAddress_receiver_address_9   5 non-null      bool
 28  KYCStatus                            5 non-null      int32
 29  TransactionFrequency                 5 non-null      float64
 30  TransactionSizeDistribution          5 non-null      int32
 31  GeographicInconsistencies            5 non-null      int32
 32  TimeOfDayPatterns                    5 non-null      int32
 33  RegularVsIrregularBehavior           5 non-null      int32
 34  ChangesInBehaviorOverTime            5 non-null      int32
 35  CreditScore                          5 non-null      float64
 36  LoanRepaymentHistory                 5 non-null      int32
 37  CreditCardUtilization                5 non-null      float64
 38  IncomeLevel                          5 non-null      float64
 39  DebtToIncomeRatio                    5 non-null      float64
 40  PastFraudulentActivity               5 non-null      int32
 41  DegreeCentrality                     5 non-null      float64
 42  ClusteringCoefficients               5 non-null      float64
 43  AnomaliesInNetwork                   5 non-null      int32
 44  SocialMediaSentiment                 5 non-null      int32
 45  TransactionSentiment                 5 non-null      int32
 46  FinancialTransactionSentiment        5 non-null      int32
 47  ReputationScore                      5 non-null      float64
 48  ParticipationInForums                5 non-null      int32
 49  FeedbackFromPeers                    5 non-null      int32
 50  CommunityEndorsementsWarnings        5 non-null      int32
 51  PastSecurityIncidents                5 non-null      int32
 52  SystemTrustScore_scaled              5 non-null      float64
 53  PlatformReliabilityScore_scaled      5 non-null      float64
 54  ProxyOrVPNUsage                      5 non-null      int32
 55  HistoricalFraudData                  5 non-null      int32
 56  AnomalyDetectionFeatures             5 non-null      int32
 57  ClusteringFeatures                   5 non-null      int32
 58  DeepLearningModelFeatures            5 non-null      int32
 59  PreviousFraudulentActivity           5 non-null      int32
dtypes: bool(25), float64(13), int32(22)
memory usage: 1.1 KB

In [83]:
y_train.info()

<class 'pandas.core.series.Series'>
Index: 20 entries, 9 to 6
Series name: FraudulentTransactions
Non-Null Count  Dtype
--------------  -----
20 non-null     int32
dtypes: int32(1)
memory usage: 240.0 bytes

In [82]:
# Convert the y_test Series to a numpy array
y_test.info()

<class 'pandas.core.series.Series'>
Index: 5 entries, 8 to 11
Series name: FraudulentTransactions
Non-Null Count  Dtype
--------------  -----
5 non-null      int32
dtypes: int32(1)
memory usage: 60.0 bytes

In [90]:
# Convert data types if necessary
X_train = X_train.astype('float32')
y_train = y_train.astype('float32')
X_test = X_test.astype('float32')
y_test = y_test.astype('float32')

In [91]:
y_test.info()

<class 'pandas.core.series.Series'>
Index: 5 entries, 8 to 11
Series name: FraudulentTransactions
Non-Null Count  Dtype
--------------  -----
5 non-null      float32
dtypes: float32(1)
memory usage: 60.0 bytes

In [111]:
# Build the neural network model
model = keras.Sequential([
    layers.Dense(64, activation='relu', input_shape=[X_test.shape[1]]),
    layers.Dense(32, activation='relu'),
    layers.Dense(1, activation='sigmoid')  # Output layer for binary classification
])

# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Train the model
history = model.fit(X_train, y_train, epochs=15, batch_size=20, validation_data=(X_test, y_test))

# Evaluate the model
test_loss, test_accuracy = model.evaluate(X_test, y_test)
print("Test Accuracy:", test_accuracy)

Epoch 1/15
1/1 [==============================] - 2s 2s/step - loss: 0.7178 - accuracy: 0.5000 - val_loss: 0.7907 - val_accuracy: 0.2000
Epoch 2/15
1/1 [==============================] - 0s 75ms/step - loss: 0.6687 - accuracy: 0.6500 - val_loss: 0.7416 - val_accuracy: 0.0000e+00
Epoch 3/15
1/1 [==============================] - 0s 73ms/step - loss: 0.6244 - accuracy: 0.8500 - val_loss: 0.6953 - val_accuracy: 0.6000
Epoch 4/15
1/1 [==============================] - 0s 72ms/step - loss: 0.5854 - accuracy: 0.8000 - val_loss: 0.6544 - val_accuracy: 0.8000
Epoch 5/15
1/1 [==============================] - 0s 75ms/step - loss: 0.5512 - accuracy: 0.8000 - val_loss: 0.6168 - val_accuracy: 0.8000
Epoch 6/15
1/1 [==============================] - 0s 71ms/step - loss: 0.5209 - accuracy: 0.8000 - val_loss: 0.5839 - val_accuracy: 0.8000
Epoch 7/15
1/1 [==============================] - 0s 75ms/step - loss: 0.4949 - accuracy: 0.8000 - val_loss: 0.5552 - val_accuracy: 0.8000
Epoch 8/15
1/1 [==============================] - 0s 65ms/step - loss: 0.4720 - accuracy: 0.8000 - val_loss: 0.5308 - val_accuracy: 0.8000
Epoch 9/15
1/1 [==============================] - 0s 69ms/step - loss: 0.4513 - accuracy: 0.8000 - val_loss: 0.5098 - val_accuracy: 0.8000
Epoch 10/15
1/1 [==============================] - 0s 65ms/step - loss: 0.4323 - accuracy: 0.8000 - val_loss: 0.4923 - val_accuracy: 0.8000
Epoch 11/15
1/1 [==============================] - 0s 74ms/step - loss: 0.4146 - accuracy: 0.8000 - val_loss: 0.4780 - val_accuracy: 0.8000
Epoch 12/15
1/1 [==============================] - 0s 78ms/step - loss: 0.3978 - accuracy: 0.8000 - val_loss: 0.4662 - val_accuracy: 0.8000
Epoch 13/15
1/1 [==============================] - 0s 66ms/step - loss: 0.3817 - accuracy: 0.8000 - val_loss: 0.4565 - val_accuracy: 0.8000
Epoch 14/15
1/1 [==============================] - 0s 73ms/step - loss: 0.3663 - accuracy: 0.8000 - val_loss: 0.4479 - val_accuracy: 0.8000
Epoch 15/15
1/1 [==============================] - 0s 62ms/step - loss: 0.3513 - accuracy: 0.8000 - val_loss: 0.4398 - val_accuracy: 0.8000
1/1 [==============================] - 0s 55ms/step - loss: 0.4398 - accuracy: 0.8000
Test Accuracy: 0.800000011920929

In [105]:
import pandas as pd
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report



rf = RandomForestClassifier()
param_grid = {
    'n_estimators': [100, 200, 300],
    'max_depth': [None, 10, 20],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'bootstrap': [True, False]
}

grid_search = GridSearchCV(estimator=rf, param_grid=param_grid, cv=2, n_jobs=-1, verbose=2)

grid_search.fit(X_train, y_train)
print("Best parameters found: ", grid_search.best_params_)
best_rf = grid_search.best_estimator_

y_pred = best_rf.predict(X_test)
print(classification_report(y_test, y_pred))

Fitting 2 folds for each of 162 candidates, totalling 324 fits
Best parameters found:  {'bootstrap': False, 'max_depth': None, 'min_samples_leaf': 1, 'min_samples_split': 2, 'n_estimators': 100}
              precision    recall  f1-score   support

         0.0       1.00      1.00      1.00         4
         1.0       1.00      1.00      1.00         1

    accuracy                           1.00         5
   macro avg       1.00      1.00      1.00         5
weighted avg       1.00      1.00      1.00         5