# data loading:

In [1]:
import pandas as pd
import numpy as np
import mysql.connector

# Connect to MySQL database
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="sunDay01@new",
    database=" tran90data"
)
cursor = conn.cursor()

# Function to fetch data from MySQL and create DataFrame
def fetch_data_to_dataframe(table_name):
    query = f"SELECT * FROM {table_name}"
    df = pd.read_sql(query, conn)
    return df

# List of table names
table_names = [
    "BlockchainTransactions",
    "UserProfile",
    "BehavioralPatterns",
    "CreditAndFinancialHistory",
    "NetworkAnalysis",
    "SentimentAnalysis",
    "CommunityBehavior",
    "SystemAndPlatformScores",
    "DeviceAndIPInformation",
    "MachineLearningFeatures",
    "HistoricalFraudData",
    "ExternalDataSources"
]

# Dictionary to store DataFrames
dataframes = {}

# Fetch data and create DataFrames for each table
for table_name in table_names:
    dataframes[table_name] = fetch_data_to_dataframe(table_name)

# Close the database connection
conn.close()

C:\Users\SIMRAN\AppData\Local\Temp\ipykernel_7976\3492427058.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [2]:
dataframes['ExternalDataSources']

,DataID,EconomicIndicators,NewsEvents,RegulatoryChanges,MarketVolatility
0,1,Stable,No major events,No changes,Low
1,2,Growth,Announcement of new regulations,Increased regulations,Moderate
2,3,Stable,No major events,No changes,Low
3,4,Decline,Market crash reported,Proposed changes in regulations,High
4,5,Stable,No major events,No changes,Low
5,6,Growth,Positive economic news,Revised regulations,Moderate
6,7,Stable,No major events,No changes,Low
7,8,Decline,Negative economic indicators,New regulations implemented,High
8,9,Stable,No major events,No changes,Low
9,10,Growth,Positive economic outlook,Regulatory adjustments,Moderate
10,11,Stable,No major events,No changes,Low
11,12,Decline,Market downturn,Changes in regulatory enforcement,High
12,13,Stable,No major events,No changes,Low
13,14,Growth,Positive economic indicators,Proposed regulatory reforms,Moderate
14,15,Stable,No major events,No changes,Low
15,16,Decline,Economic slowdown,Regulatory compliance updates,High
16,17,Stable,No major events,No changes,Low
17,18,Growth,Economic recovery,Revised regulatory guidelines,Moderate
18,19,Stable,No major events,No changes,Low
19,20,Decline,Market uncertainty,Pending regulatory decisions,High

In [3]:
dataframes["BlockchainTransactions"].sample(10) #p:time,number,one-hot(reciver) r:id

,TransactionID,Timestamp,SenderAddress,ReceiverAddress,AmountTransferred,TransactionFee,BlockHeight
8,9,2024-03-05 14:55:00,sender_address_9,receiver_address_9,120.20,0.60,11242
18,19,2024-02-24 16:50:00,sender_address_19,receiver_address_19,220.85,1.10,11252
5,6,2024-03-08 16:20:00,sender_address_6,receiver_address_6,300.90,1.50,11239
12,13,2024-03-01 11:45:00,sender_address_13,receiver_address_13,75.20,0.40,11246
9,10,2024-03-04 17:20:00,sender_address_10,receiver_address_10,180.65,0.90,11243
0,1,2024-03-13 09:25:00,sender_address_1,receiver_address_1,100.25,0.50,11234
13,14,2024-02-29 16:10:00,sender_address_14,receiver_address_14,150.90,0.80,11247
10,11,2024-03-03 09:30:00,sender_address_11,receiver_address_11,250.40,1.20,11244
4,5,2024-03-09 08:10:00,sender_address_5,receiver_address_5,150.30,0.80,11238
2,3,2024-03-11 14:30:00,sender_address_3,receiver_address_3,50.10,0.25,11236

In [4]:
dataframes["BlockchainTransactions"]

,TransactionID,Timestamp,SenderAddress,ReceiverAddress,AmountTransferred,TransactionFee,BlockHeight
0,1,2024-03-13 09:25:00,sender_address_1,receiver_address_1,100.25,0.50,11234
1,2,2024-03-12 18:45:00,sender_address_2,receiver_address_2,250.75,1.20,11235
2,3,2024-03-11 14:30:00,sender_address_3,receiver_address_3,50.10,0.25,11236
3,4,2024-03-10 11:15:00,sender_address_4,receiver_address_4,75.60,0.40,11237
4,5,2024-03-09 08:10:00,sender_address_5,receiver_address_5,150.30,0.80,11238
5,6,2024-03-08 16:20:00,sender_address_6,receiver_address_6,300.90,1.50,11239
6,7,2024-03-07 12:45:00,sender_address_7,receiver_address_7,200.75,1.00,11240
7,8,2024-03-06 10:30:00,sender_address_8,receiver_address_8,80.40,0.30,11241
8,9,2024-03-05 14:55:00,sender_address_9,receiver_address_9,120.20,0.60,11242
9,10,2024-03-04 17:20:00,sender_address_10,receiver_address_10,180.65,0.90,11243
10,11,2024-03-03 09:30:00,sender_address_11,receiver_address_11,250.40,1.20,11244
11,12,2024-03-02 14:00:00,sender_address_12,receiver_address_12,300.80,1.50,11245
12,13,2024-03-01 11:45:00,sender_address_13,receiver_address_13,75.20,0.40,11246
13,14,2024-02-29 16:10:00,sender_address_14,receiver_address_14,150.90,0.80,11247
14,15,2024-02-28 13:20:00,sender_address_15,receiver_address_15,200.25,1.00,11248
15,16,2024-02-27 08:55:00,sender_address_16,receiver_address_16,90.60,0.30,11249
16,17,2024-02-26 10:25:00,sender_address_17,receiver_address_17,130.70,0.60,11250
17,18,2024-02-25 14:35:00,sender_address_18,receiver_address_18,175.40,0.90,11251
18,19,2024-02-24 16:50:00,sender_address_19,receiver_address_19,220.85,1.10,11252
19,20,2024-02-23 09:40:00,sender_address_20,receiver_address_20,260.30,1.30,11253

dataframes["UserProfile"]

In [5]:
dataframes["UserProfile"].sample(10)#p:date,lableEncoding+Nlp r:name,adress,phone-number,email,id

,UserID,Name,Address,Email,PhoneNumber,KYCStatus,AccountCreationDate
12,13,Amelia Hall,"852 Pinecrest St, Zanycity",amelia.hall@example.com,777-666-5555,Verified,2024-01-24
18,19,Sebastian Green,"852 Birchwoodcrest St, Fantasyland",sebastian.green@example.com,777-000-1111,Verified,2024-07-25
14,15,Mia Young,"741 Maplecrest St, Adventureland",mia.young@example.com,333-444-5555,Pending,2024-03-05
7,8,William Clark,"852 Oakwood St, Differentcity",william.clark@example.com,777-888-9999,Verified,2023-08-18
5,6,Christopher Martinez,"987 Cedar St, Anothercity",christopher.martinez@example.com,999-888-7777,Pending,2023-06-20
2,3,Alice Johnson,"789 Oak St, Anycity",alice.johnson@example.com,555-555-5555,Pending,2023-03-10
17,18,Alexander Scott,"258 Sprucecrest St, Dreamville",alexander.scott@example.com,000-999-8888,Pending,2024-06-20
16,17,Emily King,"357 Cedarcrest St, Whimsytown",emily.king@example.com,888-777-6666,Verified,2024-05-15
3,4,Michael Brown,"321 Pine St, Somecity",michael.brown@example.com,222-333-4444,Verified,2023-04-05
8,9,Sophia Rodriguez,"963 Elmwood St, Uniquecity",sophia.rodriguez@example.com,111-222-3333,Pending,2023-09-25

# data View :

In [6]:
import pandas as pd

# Handle datetime columns
def handle_dates(data, column_names):
    df = data.copy()
    for column_name in column_names:
        df[column_name] = pd.to_datetime(df[column_name])
    return df

# Example usage:
data = {
    'date_column': ['2022-01-01', '2022-02-01', '2022-03-01'],
    'value': [10, 20, 30]
}
df = pd.DataFrame(data)

processed_df = handle_dates(df, ['date_column'])
print(processed_df)

  date_column  value
0  2022-01-01     10
1  2022-02-01     20
2  2022-03-01     30

In [7]:
dataframes["UserProfile"].sample(10)#p:date,lableEncoding+Nlp r:name,adress,phone-number,email,id

,UserID,Name,Address,Email,PhoneNumber,KYCStatus,AccountCreationDate
5,6,Christopher Martinez,"987 Cedar St, Anothercity",christopher.martinez@example.com,999-888-7777,Pending,2023-06-20
8,9,Sophia Rodriguez,"963 Elmwood St, Uniquecity",sophia.rodriguez@example.com,111-222-3333,Pending,2023-09-25
1,2,Jane Smith,"456 Elm St, Othertown",jane.smith@example.com,987-654-3210,Verified,2023-02-20
3,4,Michael Brown,"321 Pine St, Somecity",michael.brown@example.com,222-333-4444,Verified,2023-04-05
9,10,James Lewis,"159 Spruce St, Specialcity",james.lewis@example.com,444-555-6666,Verified,2023-10-30
10,11,Charlotte Lee,"357 Cedarwood St, Quirkytown",charlotte.lee@example.com,888-999-0000,Verified,2023-11-14
14,15,Mia Young,"741 Maplecrest St, Adventureland",mia.young@example.com,333-444-5555,Pending,2024-03-05
11,12,Daniel Walker,"258 Birchwood St, Eccentriccity",daniel.walker@example.com,000-111-2222,Pending,2023-12-19
7,8,William Clark,"852 Oakwood St, Differentcity",william.clark@example.com,777-888-9999,Verified,2023-08-18
16,17,Emily King,"357 Cedarcrest St, Whimsytown",emily.king@example.com,888-777-6666,Verified,2024-05-15

In [12]:
def droper(data_frames, table_name, col_arr):
    data_frames[table_name] = data_frames[table_name].drop(columns=col_arr)

In [13]:
# Define the columns to drop
columns_to_drop = ['Name', 'Address','Email','UserID','PhoneNumber']

# Specify the name of the DataFrame in the 'dataframes' dictionary
table_update = 'UserProfile'

# Call the function to drop columns
droper(dataframes, table_update, columns_to_drop)

In [14]:
processed_df = handle_dates(dataframes["UserProfile"], ['AccountCreationDate'])
print(processed_df)

    KYCStatus AccountCreationDate
0           1          2023-01-15
1           1          2023-02-20
2           0          2023-03-10
3           1          2023-04-05
4           1          2023-05-12
5           0          2023-06-20
6           1          2023-07-03
7           1          2023-08-18
8           0          2023-09-25
9           1          2023-10-30
10          1          2023-11-14
11          0          2023-12-19
12          1          2024-01-24
13          1          2024-02-09
14          0          2024-03-05
15          1          2024-04-10
16          1          2024-05-15
17          0          2024-06-20
18          1          2024-07-25
19          1          2024-08-30

In [15]:
from sklearn.preprocessing import LabelEncoder
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
import nltk
nltk.download('punkt')

def apply_nlp_label_encoding(df, column_names):
    # Tokenization and Stemming
    stemmer = PorterStemmer()
    for column in column_names:
        if column in df.columns:
            if df[column].dtype == 'object':  # Check if the column contains text data
                df[column] = df[column].apply(lambda x: ' '.join([stemmer.stem(word) for word in word_tokenize(x.lower())]))
    
    # Label Encoding
    label_encoder = LabelEncoder()
    for column in column_names:
        if column in df.columns:
            if df[column].dtype == 'object':  # Check if the column contains categorical data
                df[column] = label_encoder.fit_transform(df[column])
    return df

# Assuming 'dataframes' is your dictionary of DataFrames
# Assuming 'BehavioralPatterns' is the key for the DataFrame of interest
dataframes["UserProfile"] = apply_nlp_label_encoding(dataframes["UserProfile"], ['KYCStatus'])

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\SIMRAN\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [16]:
dataframes["UserProfile"]

    KYCStatus AccountCreationDate
0           1          2023-01-15
1           1          2023-02-20
2           0          2023-03-10
3           1          2023-04-05
4           1          2023-05-12
5           0          2023-06-20
6           1          2023-07-03
7           1          2023-08-18
8           0          2023-09-25
9           1          2023-10-30
10          1          2023-11-14
11          0          2023-12-19
12          1          2024-01-24
13          1          2024-02-09
14          0          2024-03-05
15          1          2024-04-10
16          1          2024-05-15
17          0          2024-06-20
18          1          2024-07-25
19          1          2024-08-30

'BlockchainTransactions

In [17]:


processed_df = handle_dates(dataframes['BlockchainTransactions'], ['Timestamp'])
print(processed_df)

    TransactionID           Timestamp      SenderAddress      ReceiverAddress  \
0               1 2024-03-13 09:25:00   sender_address_1   receiver_address_1
1               2 2024-03-12 18:45:00   sender_address_2   receiver_address_2
2               3 2024-03-11 14:30:00   sender_address_3   receiver_address_3
3               4 2024-03-10 11:15:00   sender_address_4   receiver_address_4
4               5 2024-03-09 08:10:00   sender_address_5   receiver_address_5
5               6 2024-03-08 16:20:00   sender_address_6   receiver_address_6
6               7 2024-03-07 12:45:00   sender_address_7   receiver_address_7
7               8 2024-03-06 10:30:00   sender_address_8   receiver_address_8
8               9 2024-03-05 14:55:00   sender_address_9   receiver_address_9
9              10 2024-03-04 17:20:00  sender_address_10  receiver_address_10
10             11 2024-03-03 09:30:00  sender_address_11  receiver_address_11
11             12 2024-03-02 14:00:00  sender_address_12  receiver_address_12
12             13 2024-03-01 11:45:00  sender_address_13  receiver_address_13
13             14 2024-02-29 16:10:00  sender_address_14  receiver_address_14
14             15 2024-02-28 13:20:00  sender_address_15  receiver_address_15
15             16 2024-02-27 08:55:00  sender_address_16  receiver_address_16
16             17 2024-02-26 10:25:00  sender_address_17  receiver_address_17
17             18 2024-02-25 14:35:00  sender_address_18  receiver_address_18
18             19 2024-02-24 16:50:00  sender_address_19  receiver_address_19
19             20 2024-02-23 09:40:00  sender_address_20  receiver_address_20

    AmountTransferred  TransactionFee  BlockHeight
0              100.25            0.50        11234
1              250.75            1.20        11235
2               50.10            0.25        11236
3               75.60            0.40        11237
4              150.30            0.80        11238
5              300.90            1.50        11239
6              200.75            1.00        11240
7               80.40            0.30        11241
8              120.20            0.60        11242
9              180.65            0.90        11243
10             250.40            1.20        11244
11             300.80            1.50        11245
12              75.20            0.40        11246
13             150.90            0.80        11247
14             200.25            1.00        11248
15              90.60            0.30        11249
16             130.70            0.60        11250
17             175.40            0.90        11251
18             220.85            1.10        11252
19             260.30            1.30        11253

In [18]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

def apply_feature_scaling(dataframe, column_names):
    """
    Apply all types of feature scaling combinations and select the best one.

    Parameters:
    - dataframe: pandas DataFrame, input data
    - column_names: list of strings, names of columns to be scaled

    Returns:
    - str, best feature scaling combination
    """

    # Extract the specified columns from the DataFrame
    X = dataframe[column_names].values

    # Split the data into training and testing sets
    X_train, X_test = train_test_split(X, test_size=0.2, random_state=42)

    # Define a dictionary to store the results of different scaling methods
    scaling_results = {}

    # Apply different scaling techniques
    for scaler in [StandardScaler(), MinMaxScaler(), RobustScaler()]:
        scaled_X_train = scaler.fit_transform(X_train)
        scaled_X_test = scaler.transform(X_test)

        # Train a linear regression model
        model = LinearRegression()
        model.fit(scaled_X_train, y_train)

        # Evaluate the model
        y_pred = model.predict(scaled_X_test)
        mse = mean_squared_error(y_test, y_pred)

        # Store the results
        scaling_results[str(scaler)] = mse

    # Find the best scaling method with the lowest MSE
    best_scaling = min(scaling_results, key=scaling_results.get)

    return best_scaling

# Example usage:
# Assuming 'dataframe' is your DataFrame and 'column_names' is a list of column names to be scaled
# best_scaling = apply_feature_scaling(dataframe, column_names)
# print("Best scaling technique:", best_scaling)

In [19]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

def apply_feature_scaling(dataframe, column_names):
    """
    Apply all types of feature scaling combinations and select the best one.

    Parameters:
    - dataframe: pandas DataFrame, input data
    - column_names: list of strings, names of columns to be scaled

    Returns:
    - str, best feature scaling combination
    """

    # Extract the specified columns from the DataFrame
    X = dataframe[column_names].values

    # Split the data into training and testing sets
    X_train, X_test = train_test_split(X, test_size=0.2, random_state=42)

    # Generate placeholder y_train and y_test for demonstration
    y_train = np.random.rand(X_train.shape[0])
    y_test = np.random.rand(X_test.shape[0])

    # Define a dictionary to store the results of different scaling methods
    scaling_results = {}

    # Apply different scaling techniques
    for scaler in [StandardScaler(), MinMaxScaler(), RobustScaler()]:
        scaled_X_train = scaler.fit_transform(X_train)
        scaled_X_test = scaler.transform(X_test)

        # Train a linear regression model
        model = LinearRegression()
        model.fit(scaled_X_train, y_train)

        # Evaluate the model
        y_pred = model.predict(scaled_X_test)
        mse = mean_squared_error(y_test, y_pred)

        # Store the results
        scaling_results[str(scaler)] = mse

    # Find the best scaling method with the lowest MSE
    best_scaling = min(scaling_results, key=scaling_results.get)

    return best_scaling

# Assuming 'dataframes' is your dictionary of DataFrames
best_scaling = apply_feature_scaling(dataframes['BlockchainTransactions'], ['AmountTransferred', 'TransactionFee', 'BlockHeight'])

print("Best scaling method:", best_scaling)

Best scaling method: StandardScaler()

In [20]:
from sklearn.preprocessing import MinMaxScaler

# Assuming dataframes['BlockchainTransactions'] is your DataFrame
# Assuming you've imported pandas as pd

# Selecting the columns to scale
columns_to_scale = ['AmountTransferred', 'TransactionFee', 'BlockHeight']

# Initialize MinMaxScaler
scaler = MinMaxScaler()

# Fit and transform the selected columns
dataframes['BlockchainTransactions'][columns_to_scale] = scaler.fit_transform(dataframes['BlockchainTransactions'][columns_to_scale])

# Now the selected columns are scaled between 0 and 1

In [21]:
def OnehotcodeEncoding(df,categorical_columns):

    df = pd.get_dummies(df, columns=categorical_columns)
    return df

In [22]:
 dataframes['BlockchainTransactions'] = OnehotcodeEncoding(dataframes['BlockchainTransactions'], ['ReceiverAddress'])

In [23]:
# Define the columns to drop
columns_to_drop = ['TransactionID', 'SenderAddress']

# Specify the name of the DataFrame in the 'dataframes' dictionary
table_update = 'BlockchainTransactions'

# Call the function to drop columns
droper(dataframes, table_update, columns_to_drop)

In [24]:
 dataframes['BlockchainTransactions']

,Timestamp,AmountTransferred,TransactionFee,BlockHeight,ReceiverAddress_receiver_address_1,ReceiverAddress_receiver_address_10,ReceiverAddress_receiver_address_11,ReceiverAddress_receiver_address_12,ReceiverAddress_receiver_address_13,ReceiverAddress_receiver_address_14,...,ReceiverAddress_receiver_address_19,ReceiverAddress_receiver_address_2,ReceiverAddress_receiver_address_20,ReceiverAddress_receiver_address_3,ReceiverAddress_receiver_address_4,ReceiverAddress_receiver_address_5,ReceiverAddress_receiver_address_6,ReceiverAddress_receiver_address_7,ReceiverAddress_receiver_address_8,ReceiverAddress_receiver_address_9
0,2024-03-13 09:25:00,0.199960,0.20,0.000000,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,2024-03-12 18:45:00,0.800040,0.76,0.052632,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
2,2024-03-11 14:30:00,0.000000,0.00,0.105263,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
3,2024-03-10 11:15:00,0.101675,0.12,0.157895,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
4,2024-03-09 08:10:00,0.399522,0.44,0.210526,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
5,2024-03-08 16:20:00,1.000000,1.00,0.263158,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
6,2024-03-07 12:45:00,0.600678,0.60,0.315789,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
7,2024-03-06 10:30:00,0.120813,0.04,0.368421,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
8,2024-03-05 14:55:00,0.279506,0.28,0.421053,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
9,2024-03-04 17:20:00,0.520534,0.52,0.473684,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10,2024-03-03 09:30:00,0.798644,0.76,0.526316,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11,2024-03-02 14:00:00,0.999601,1.00,0.578947,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
12,2024-03-01 11:45:00,0.100080,0.12,0.631579,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
13,2024-02-29 16:10:00,0.401914,0.44,0.684211,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
14,2024-02-28 13:20:00,0.598684,0.60,0.736842,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15,2024-02-27 08:55:00,0.161483,0.04,0.789474,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16,2024-02-26 10:25:00,0.321372,0.28,0.842105,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
17,2024-02-25 14:35:00,0.499601,0.52,0.894737,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
18,2024-02-24 16:50:00,0.680821,0.68,0.947368,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
19,2024-02-23 09:40:00,0.838118,0.84,1.000000,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False

In [25]:
dataframes["BehavioralPatterns"].sample(10)#p:number,nlp+lableencoding

,UserID,TransactionFrequency,TransactionSizeDistribution,GeographicInconsistencies,TimeOfDayPatterns,RegularVsIrregularBehavior,ChangesInBehaviorOverTime
18,19,20.5,Normal,Yes,Afternoon,Irregular,Decreasing
15,16,17.6,Normal,Yes,Night,Irregular,Increasing
2,3,20.1,Normal,No,Afternoon,Regular,Stable
12,13,13.7,Normal,Yes,Morning,Irregular,Stable
9,10,16.8,Normal,Yes,Evening,Irregular,Stable
3,4,15.3,Normal,Yes,Night,Irregular,Stable
6,7,22.0,Normal,Yes,Afternoon,Irregular,Increasing
7,8,9.6,Normal,No,Night,Regular,Stable
1,2,8.2,Skewed towards large transactions,Yes,Evening,Irregular,Increasing
14,15,8.9,Normal,No,Afternoon,Regular,Stable

# dataframes["BehavioralPatterns"]

In [26]:
from sklearn.preprocessing import LabelEncoder
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
import nltk
nltk.download('punkt')

def apply_nlp_label_encoding(df, column_names):
    # Tokenization and Stemming
    stemmer = PorterStemmer()
    for column in column_names:
        if column in df.columns:
            if df[column].dtype == 'object':  # Check if the column contains text data
                df[column] = df[column].apply(lambda x: ' '.join([stemmer.stem(word) for word in word_tokenize(x.lower())]))
    
    # Label Encoding
    label_encoder = LabelEncoder()
    for column in column_names:
        if column in df.columns:
            if df[column].dtype == 'object':  # Check if the column contains categorical data
                df[column] = label_encoder.fit_transform(df[column])
    return df

# Assuming 'dataframes' is your dictionary of DataFrames
# Assuming 'BehavioralPatterns' is the key for the DataFrame of interest
dataframes['BehavioralPatterns'] = apply_nlp_label_encoding(dataframes['BehavioralPatterns'], ['TransactionSizeDistribution', 'GeographicInconsistencies', 'TimeOfDayPatterns', 'RegularVsIrregularBehavior', 'ChangesInBehaviorOverTime'])

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\SIMRAN\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [27]:
from sklearn.preprocessing import StandardScaler

def numerical_preprocessing(data_frames, table_name, columns):
    if table_name in data_frames:
        scaler = StandardScaler()
        data_frames[table_name][columns] = scaler.fit_transform(data_frames[table_name][columns])
    else:
        print(f"Table '{table_name}' not found in the data_frames dictionary.")

# Assuming 'dataframes' is your dictionary of DataFrames
numerical_preprocessing(dataframes, "BehavioralPatterns", ['TransactionFrequency'])

In [28]:
def droper(data_frames, table_name, col_arr):
    data_frames[table_name] = data_frames[table_name].drop(columns=col_arr)

In [29]:
# Define the columns to drop
columns_to_drop = ['UserID']

# Specify the name of the DataFrame in the 'dataframes' dictionary
table_update = 'BehavioralPatterns'

# Call the function to drop columns
droper(dataframes, table_update, columns_to_drop)

In [30]:
dataframes["BehavioralPatterns"]

,TransactionFrequency,TransactionSizeDistribution,GeographicInconsistencies,TimeOfDayPatterns,RegularVsIrregularBehavior,ChangesInBehaviorOverTime
0,-0.575469,0,0,2,1,2
1,-1.583419,1,1,1,0,1
2,1.206024,0,0,0,1,2
3,0.080870,0,1,3,0,2
4,0.877854,0,0,2,1,2
5,-0.950520,2,0,1,1,0
6,1.651397,0,1,0,0,1
7,-1.255249,0,0,3,1,2
8,-0.176977,0,0,2,1,2
9,0.432481,0,1,1,0,2
10,-0.809876,1,0,0,1,0
11,1.041939,0,0,3,1,1
12,-0.294181,0,1,2,0,2
13,1.463872,0,0,1,1,2
14,-1.419334,0,0,0,1,2
15,0.620007,0,1,3,0,1
16,-0.505147,0,0,2,1,2
17,-0.012892,0,0,1,1,2
18,1.299787,0,1,0,0,0
19,-1.091165,2,0,3,1,2

dataframes['CreditAndFinancialHistory']

In [31]:
dataframes['CreditAndFinancialHistory'].sample(10) #number,NLP+label r:i

,UserID,CreditScore,LoanRepaymentHistory,CreditCardUtilization,IncomeLevel,DebtToIncomeRatio,PastFraudulentActivity
11,12,780,Excellent,0.2,60000.0,0.18,No
8,9,730,Good,0.3,52000.0,0.22,No
3,4,700,Good,0.4,55000.0,0.28,No
13,14,720,Good,0.3,51000.0,0.24,No
15,16,740,Excellent,0.2,63000.0,0.21,No
14,15,660,Fair,0.5,43000.0,0.31,No
18,19,780,Excellent,0.2,61000.0,0.19,No
9,10,680,Fair,0.5,45000.0,0.30,No
2,3,780,Excellent,0.2,60000.0,0.15,No
6,7,750,Excellent,0.2,65000.0,0.20,No

In [32]:
# Define the columns to drop
columns_to_drop = ['UserID']

# Specify the name of the DataFrame in the 'dataframes' dictionary
table_update = 'CreditAndFinancialHistory'

# Call the function to drop columns
droper(dataframes, table_update, columns_to_drop)

In [33]:

# Assuming 'dataframes' is your dictionary of DataFrames
best_scaling = apply_feature_scaling(dataframes['CreditAndFinancialHistory'], ['CreditScore', 'CreditCardUtilization', 'IncomeLevel','DebtToIncomeRatio'])

print("Best scaling method:", best_scaling)

Best scaling method: MinMaxScaler()

In [34]:
from sklearn.preprocessing import RobustScaler

# Assuming dataframes['CreditAndFinancialHistory'] is your DataFrame
# Assuming you've imported pandas as pd

# Selecting the columns to scale
columns_to_scale = ['CreditScore', 'CreditCardUtilization', 'IncomeLevel', 'DebtToIncomeRatio']

# Initialize RobustScaler
scaler = RobustScaler()

# Fit and transform the selected columns
dataframes['CreditAndFinancialHistory'][columns_to_scale] = scaler.fit_transform(dataframes['CreditAndFinancialHistory'][columns_to_scale])

# Now the selected columns are scaled using Robust Scaling

In [35]:
dataframes['CreditAndFinancialHistory'] = apply_nlp_label_encoding(dataframes['CreditAndFinancialHistory'], ['LoanRepaymentHistory', 'PastFraudulentActivity', ])

dataframes['NetworkAnalysis']

In [36]:
dataframes['NetworkAnalysis'].sample(10)#number,lable r:id

,SenderUserID,ReceiverUserID,DegreeCentrality,ClusteringCoefficients,AnomaliesInNetwork
12,13,14,0.67,0.81,None
10,11,12,0.72,0.74,None
1,2,3,0.82,0.57,None
14,15,16,0.80,0.60,None
13,14,15,0.74,0.64,None
15,16,17,0.73,0.73,None
4,5,6,0.83,0.59,None
11,12,13,0.78,0.67,None
6,7,8,0.79,0.66,None
18,19,20,0.72,0.76,None

In [37]:
# Assuming 'dataframes' is your dictionary of DataFrames
best_scaling = apply_feature_scaling(dataframes['NetworkAnalysis'], ['DegreeCentrality', 'ClusteringCoefficients'])

print("Best scaling method:", best_scaling)

Best scaling method: StandardScaler()

In [38]:
from sklearn.preprocessing import StandardScaler

# Extract the DataFrame
df = dataframes['NetworkAnalysis']

# Columns to be scaled
columns_to_scale = ['DegreeCentrality', 'ClusteringCoefficients']

# Initialize the StandardScaler
scaler = StandardScaler()

# Apply StandardScaler to the specified columns
df[columns_to_scale] = scaler.fit_transform(df[columns_to_scale])

# Update the DataFrame in the dataframes dictionary
dataframes['NetworkAnalysis'] = df

In [39]:
def lableEncoding(df,categorical_columns):
    from sklearn.preprocessing import LabelEncoder
    label_encoder = LabelEncoder()


    df[categorical_columns] = df[categorical_columns].apply(label_encoder.fit_transform)
    return df

In [40]:
 dataframes['NetworkAnalysis'] = lableEncoding(dataframes['NetworkAnalysis'],['AnomaliesInNetwork'])

In [41]:
dataframes['NetworkAnalysis']

,SenderUserID,ReceiverUserID,DegreeCentrality,ClusteringCoefficients,AnomaliesInNetwork
0,1,2,0.030350,-0.914966,0
1,2,3,1.446660,-1.613413,0
2,3,1,-1.183631,0.900997,0
3,4,5,0.232680,-0.076829,0
4,5,6,1.648990,-1.334034,0
5,6,7,-0.778971,0.481929,0
6,7,8,0.839670,-0.356208,0
7,8,9,-1.385961,1.459755,0
8,9,10,0.030350,-0.495898,0
9,10,11,1.244330,-1.054655,0
10,11,12,-0.576641,0.761308,0
11,12,13,0.637340,-0.216519,0
12,13,14,-1.588291,1.739134,0
13,14,15,-0.171981,-0.635587,0
14,15,16,1.042000,-1.194345,0
15,16,17,-0.374311,0.621618,0
16,17,18,0.435010,0.062860,0
17,18,19,-1.790621,1.599444,0
18,19,20,-0.576641,1.040687,0
19,20,1,0.839670,-0.775277,0

In [42]:
# Define the columns to drop
columns_to_drop = ['SenderUserID','ReceiverUserID']

# Specify the name of the DataFrame in the 'dataframes' dictionary
table_update = 'NetworkAnalysis'

# Call the function to drop columns
droper(dataframes, table_update, columns_to_drop)

In [43]:
dataframes['SentimentAnalysis'].sample(10)#lable+nlp

,UserID,SocialMediaSentiment,TransactionSentiment,FinancialTransactionSentiment
11,12,Positive,Positive,Positive
1,2,Neutral,Negative,Neutral
2,3,Positive,Positive,Positive
13,14,Neutral,Negative,Neutral
4,5,Neutral,Negative,Neutral
6,7,Positive,Neutral,Positive
5,6,Positive,Positive,Positive
12,13,Positive,Neutral,Positive
7,8,Neutral,Negative,Neutral
0,1,Positive,Neutral,Positive

In [44]:
dataframes['SentimentAnalysis'] = apply_nlp_label_encoding(dataframes['SentimentAnalysis'],['SocialMediaSentiment','TransactionSentiment', 'FinancialTransactionSentiment'])

In [45]:
# Define the columns to drop
columns_to_drop = ['UserID']

# Specify the name of the DataFrame in the 'dataframes' dictionary
table_update = 'SentimentAnalysis'

# Call the function to drop columns
droper(dataframes, table_update, columns_to_drop)

In [46]:
dataframes['SentimentAnalysis']

    SocialMediaSentiment  TransactionSentiment  FinancialTransactionSentiment
0                      1                     1                              1
1                      0                     0                              0
2                      1                     2                              1
3                      1                     1                              1
4                      0                     0                              0
5                      1                     2                              1
6                      1                     1                              1
7                      0                     0                              0
8                      1                     2                              1
9                      1                     1                              1
10                     0                     0                              0
11                     1                     2                              1
12                     1                     1                              1
13                     0                     0                              0
14                     1                     2                              1
15                     1                     1                              1
16                     0                     0                              0
17                     1                     2                              1
18                     1                     1                              1
19                     0                     0                              0

In [47]:
dataframes['CommunityBehavior'].sample(10)#lable+nlp,number r:id

,UserID,ReputationScore,ParticipationInForums,FeedbackFromPeers,CommunityEndorsementsWarnings
10,11,72,Moderate,Neutral,No warnings
9,10,88,Active,Positive,Endorsed by community
0,1,85,Active,Positive,Endorsed by community
4,5,75,Moderate,Neutral,No warnings
1,2,70,Moderate,Neutral,No warnings
16,17,68,Moderate,Neutral,No warnings
5,6,90,Active,Positive,Endorsed by community
15,16,82,Active,Positive,Endorsed by community
12,13,78,Active,Positive,Endorsed by community
13,14,80,Moderate,Neutral,No warnings

In [48]:
from sklearn.preprocessing import StandardScaler

# Extract the DataFrame
df = dataframes['CommunityBehavior']

# Columns to be scaled
columns_to_scale = ['ReputationScore']

# Initialize the StandardScaler
scaler = StandardScaler()

# Apply StandardScaler to the specified columns
df[columns_to_scale] = scaler.fit_transform(df[columns_to_scale])

# Update the DataFrame in the dataframes dictionary
dataframes['CommunityBehavior'] = df

In [49]:
dataframes['CommunityBehavior'] = apply_nlp_label_encoding(dataframes['SentimentAnalysis'],['ParticipationInForums','FeedbackFromPeers','CommunityEndorsementsWarnings'])

In [50]:
dataframes['CommunityBehavior']

    SocialMediaSentiment  TransactionSentiment  FinancialTransactionSentiment
0                      1                     1                              1
1                      0                     0                              0
2                      1                     2                              1
3                      1                     1                              1
4                      0                     0                              0
5                      1                     2                              1
6                      1                     1                              1
7                      0                     0                              0
8                      1                     2                              1
9                      1                     1                              1
10                     0                     0                              0
11                     1                     2                              1
12                     1                     1                              1
13                     0                     0                              0
14                     1                     2                              1
15                     1                     1                              1
16                     0                     0                              0
17                     1                     2                              1
18                     1                     1                              1
19                     0                     0                              0

In [51]:
# Define the columns to drop
columns_to_drop = ['UserID']

# Specify the name of the DataFrame in the 'dataframes' dictionary
table_update = 'CommunityBehavior'

# Call the function to drop columns
droper(dataframes, table_update, columns_to_drop)

KeyError: "['UserID'] not found in axis"

In [52]:
dataframes['SentimentAnalysis'] = apply_nlp_label_encoding(dataframes['SentimentAnalysis'],['ParticipationInForums','FeedbackFromPeers','CommunityEndorsementsWarnings', 'FinancialTransactionSentiment'])

In [53]:
# Define the columns to drop
columns_to_drop = ['UserID']

# Specify the name of the DataFrame in the 'dataframes' dictionary
table_update = 'SentimentAnalysis'

# Call the function to drop columns
droper(dataframes, table_update, columns_to_drop)

KeyError: "['UserID'] not found in axis"

In [54]:
dataframes['SentimentAnalysis']

    SocialMediaSentiment  TransactionSentiment  FinancialTransactionSentiment
0                      1                     1                              1
1                      0                     0                              0
2                      1                     2                              1
3                      1                     1                              1
4                      0                     0                              0
5                      1                     2                              1
6                      1                     1                              1
7                      0                     0                              0
8                      1                     2                              1
9                      1                     1                              1
10                     0                     0                              0
11                     1                     2                              1
12                     1                     1                              1
13                     0                     0                              0
14                     1                     2                              1
15                     1                     1                              1
16                     0                     0                              0
17                     1                     2                              1
18                     1                     1                              1
19                     0                     0                              0

In [55]:
dataframes['SystemAndPlatformScores'].sample(10)#lable,number r:id

    UserID  SystemTrustScore  PlatformReliabilityScore PastSecurityIncidents
4        5                75                        70                    No
8        9                94                        89                    No
15      16                85                        80                    No
9       10                91                        86                    No
1        2                80                        75                    No
16      17                75                        70                    No
14      15                90                        85                    No
11      12                96                        91                    No
12      13                82                        77                    No
6        7                88                        83                    No

In [56]:

# Assuming 'dataframes' is your dictionary of DataFrames
best_scaling = apply_feature_scaling(dataframes['SystemAndPlatformScores'], ['SystemTrustScore', 'PlatformReliabilityScore'])

print("Best scaling method:", best_scaling)

Best scaling method: StandardScaler()

In [57]:
from sklearn.preprocessing import MinMaxScaler

# Assuming dataframes is a dictionary containing your DataFrames
# Extract the DataFrame containing 'SystemTrustScore' and 'PlatformReliabilityScore'
df_system_platform_scores = dataframes['SystemAndPlatformScores'][['SystemTrustScore', 'PlatformReliabilityScore']]

# Initialize MinMaxScaler
scaler = MinMaxScaler()

# Fit and transform the data
scaled_data = scaler.fit_transform(df_system_platform_scores)

# Create a new DataFrame with scaled data
scaled_df_system_platform_scores = pd.DataFrame(scaled_data, columns=['SystemTrustScore_scaled', 'PlatformReliabilityScore_scaled'])

# Concatenate the scaled DataFrame with the original DataFrame
scaled_df_system_platform_scores = pd.concat([dataframes['SystemAndPlatformScores'].drop(['SystemTrustScore', 'PlatformReliabilityScore'], axis=1), scaled_df_system_platform_scores], axis=1)

# Display the scaled DataFrame
print(scaled_df_system_platform_scores.head())

   UserID PastSecurityIncidents  SystemTrustScore_scaled  \
0       1                    No                 0.769231
1       2                    No                 0.384615
2       3                    No                 0.961538
3       4                    No                 0.576923
4       5                    No                 0.192308

   PlatformReliabilityScore_scaled
0                         0.769231
1                         0.384615
2                         0.961538
3                         0.576923
4                         0.192308

In [58]:
# Define the columns to drop
columns_to_drop = ['UserID']

# Specify the name of the DataFrame in the 'dataframes' dictionary
table_update = 'SystemAndPlatformScores'

# Call the function to drop columns
droper(dataframes, table_update, columns_to_drop)

In [59]:
def lableEncoding(df, categorical_columns):
    from sklearn.preprocessing import LabelEncoder
    label_encoder = LabelEncoder()

    for column in categorical_columns:
        df[column] = label_encoder.fit_transform(df[column])

    return df

In [60]:
 dataframes['SystemAndPlatformScores'] = lableEncoding(dataframes['SystemAndPlatformScores'],['PastSecurityIncidents'])

In [61]:
dataframes['SystemAndPlatformScores']

    SystemTrustScore  PlatformReliabilityScore  PastSecurityIncidents
0                 90                        85                      0
1                 80                        75                      0
2                 95                        90                      0
3                 85                        80                      0
4                 75                        70                      0
5                 92                        87                      0
6                 88                        83                      0
7                 70                        65                      0
8                 94                        89                      0
9                 91                        86                      0
10                78                        73                      0
11                96                        91                      0
12                82                        77                      0
13                80                        75                      0
14                90                        85                      0
15                85                        80                      0
16                75                        70                      0
17                92                        87                      0
18                88                        83                      0
19                80                        75                      0

In [62]:
dataframes['DeviceAndIPInformation'].sample(10)#lable r:(id,ip,loc)

,UserID,DeviceID,IPAddress,DeviceLocation,DeviceTypeAndVersion,ProxyOrVPNUsage
18,19,device_id_19,192.168.1.80,Minneapolis,Laptop - Windows 11,Yes
13,14,device_id_14,10.0.0.30,Austin,Desktop - Linux Ubuntu 20.04,No
11,12,device_id_12,10.0.0.25,San Diego,Laptop - Windows 11,No
1,2,device_id_2,10.0.0.5,Los Angeles,Desktop - Windows 10,Yes
4,5,device_id_5,10.0.0.10,Houston,Laptop - macOS 12.0,Yes
0,1,device_id_1,192.168.1.10,New York,Mobile - iOS 14.5,No
12,13,device_id_13,192.168.1.60,Atlanta,Mobile - iOS 14.0,Yes
9,10,device_id_10,10.0.0.20,Phoenix,Mobile - Android 10,No
2,3,device_id_3,172.16.0.3,Chicago,Mobile - Android 12,No
14,15,device_id_15,172.16.0.10,Denver,Tablet - iOS 13.0,Yes

In [63]:
# Define the columns to drop
columns_to_drop = ['UserID','IPAddress','DeviceLocation','DeviceID','DeviceTypeAndVersion']

# Specify the name of the DataFrame in the 'dataframes' dictionary
table_update = 'DeviceAndIPInformation'

# Call the function to drop columns
droper(dataframes, table_update, columns_to_drop)

In [64]:
def lableEncoding(df, categorical_columns):
    from sklearn.preprocessing import LabelEncoder
    label_encoder = LabelEncoder()

    for column in categorical_columns:
        df[column] = label_encoder.fit_transform(df[column])

    return df

In [65]:
 dataframes['DeviceAndIPInformation'] = lableEncoding(dataframes['DeviceAndIPInformation'],['ProxyOrVPNUsage'])

In [66]:
 dataframes['DeviceAndIPInformation']

    ProxyOrVPNUsage
0                 0
1                 1
2                 0
3                 0
4                 1
5                 0
6                 1
7                 0
8                 1
9                 0
10                1
11                0
12                1
13                0
14                1
15                0
16                1
17                0
18                1
19                0

In [67]:
dataframes['MachineLearningFeatures'].sample(10)#lable r:id

,UserID,HistoricalFraudData,AnomalyDetectionFeatures,ClusteringFeatures,DeepLearningModelFeatures
14,15,No,Yes,No,Yes
16,17,No,Yes,Yes,No
13,14,No,Yes,Yes,No
12,13,No,Yes,No,Yes
11,12,No,Yes,No,Yes
1,2,No,Yes,Yes,No
5,6,No,Yes,No,Yes
6,7,No,Yes,No,Yes
10,11,No,Yes,Yes,No
19,20,No,Yes,Yes,No

In [68]:
def lableEncoding(df, categorical_columns):
    from sklearn.preprocessing import LabelEncoder
    label_encoder = LabelEncoder()

    for column in categorical_columns:
        df[column] = label_encoder.fit_transform(df[column])

    return df

In [69]:
 dataframes['MachineLearningFeatures'] = lableEncoding(dataframes['MachineLearningFeatures'],['HistoricalFraudData','AnomalyDetectionFeatures','ClusteringFeatures','DeepLearningModelFeatures'])

In [70]:
# Define the columns to drop
columns_to_drop = ['UserID']

# Specify the name of the DataFrame in the 'dataframes' dictionary
table_update = 'MachineLearningFeatures'

# Call the function to drop columns
droper(dataframes, table_update, columns_to_drop)

In [71]:
dataframes['MachineLearningFeatures']

,HistoricalFraudData,AnomalyDetectionFeatures,ClusteringFeatures,DeepLearningModelFeatures
0,0,0,0,1
1,0,0,1,0
2,0,0,0,1
3,0,0,0,1
4,0,0,1,0
5,0,0,0,1
6,0,0,0,1
7,0,0,1,0
8,0,0,0,1
9,0,0,0,1
10,0,0,1,0
11,0,0,0,1
12,0,0,0,1
13,0,0,1,0
14,0,0,0,1
15,0,0,0,1
16,0,0,1,0
17,0,0,0,1
18,0,0,0,1
19,0,0,1,0

In [72]:
dataframes['HistoricalFraudData'].sample(10)#lable r:id

,TransactionID,FraudulentTransactions,PreviousFraudulentActivity,BlacklistedEntities
6,7,No,No,None
9,10,No,No,None
2,3,No,No,None
7,8,No,No,None
12,13,No,No,None
0,1,No,No,None
18,19,No,No,None
10,11,No,No,None
4,5,No,No,None
14,15,No,No,None

In [73]:
# Define the columns to drop
columns_to_drop = ['TransactionID']

# Specify the name of the DataFrame in the 'dataframes' dictionary
table_update = 'HistoricalFraudData'

# Call the function to drop columns
droper(dataframes, table_update, columns_to_drop)

 dataframes['MachineLearningFeatures']

In [74]:
 dataframes['MachineLearningFeatures'] = lableEncoding(dataframes['HistoricalFraudData'],['FraudulentTransactions','BlacklistedEntities','PreviousFraudulentActivity'])

In [75]:
 dataframes['MachineLearningFeatures']

    FraudulentTransactions  PreviousFraudulentActivity  BlacklistedEntities
0                        0                           0                    0
1                        0                           0                    0
2                        0                           0                    0
3                        0                           0                    0
4                        0                           0                    0
5                        0                           0                    0
6                        0                           0                    0
7                        0                           0                    0
8                        0                           0                    0
9                        0                           0                    0
10                       0                           0                    0
11                       0                           0                    0
12                       0                           0                    0
13                       0                           0                    0
14                       0                           0                    0
15                       0                           0                    0
16                       0                           0                    0
17                       0                           0                    0
18                       0                           0                    0
19                       0                           0                    0

# Step 1: Imputation of missing values
imputer = SimpleImputer(strategy='mean')
df[columns_to_preprocess] = imputer.fit_transform(df[columns_to_preprocess])

# Step 2: Scaling using Min-Max scaler
scaler = MinMaxScaler()
df[columns_to_preprocess] = scaler.fit_transform(df[columns_to_preprocess])

# Step 3: Normalization
normalizer = Normalizer()
df[columns_to_preprocess] = normalizer.fit_transform(df[columns_to_preprocess])

## missing data prediction method

In [76]:
import numpy as np
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam

def apply_mice(data, max_iter=10, random_state=None):


    # Convert to numpy array if DataFrame is provided
    if hasattr(data, 'to_numpy'):
        data = data.to_numpy()

    # Initialize MICE imputer
    mice_imputer = IterativeImputer(max_iter=max_iter, random_state=random_state)

    # Fill missing values using MICE
    filled_data = mice_imputer.fit_transform(data)

    return filled_data

## scaling

## combining

In [60]:
import pandas as pd

def combiner(dataframes, table_names):
    combined_dataframes = {}
    for table_name in table_names:
        combined_dataframes[table_name] = dataframes[table_name]
        
    combined_df = pd.concat(combined_dataframes.values(), axis=1)
    return combined_df

# Assuming dataframes is a dictionary containing DataFrames for each table
combine_df = combiner(dataframes, table_names)

In [61]:
table_names = [
    "BlockchainTransactions",
    "UserProfile",
    "BehavioralPatterns",
    "CreditAndFinancialHistory",
    "NetworkAnalysis",
    "SentimentAnalysis",
    "CommunityBehavior",
    "SystemAndPlatformScores",
    "DeviceAndIPInformation",
    "MachineLearningFeatures",
    "HistoricalFraudData",
    "ExternalDataSources"
]

combine_df=combiner(dataframes,table_names)

In [62]:
combine_df

,Timestamp,AmountTransferred,TransactionFee,BlockHeight,ReceiverAddress_receiver_address_1,ReceiverAddress_receiver_address_10,ReceiverAddress_receiver_address_11,ReceiverAddress_receiver_address_12,ReceiverAddress_receiver_address_13,ReceiverAddress_receiver_address_14,...,PreviousFraudulentActivity,BlacklistedEntities,FraudulentTransactions,PreviousFraudulentActivity,BlacklistedEntities,DataID,EconomicIndicators,NewsEvents,RegulatoryChanges,MarketVolatility
0,2024-03-13 09:25:00,0.199960,0.20,0.000000,True,False,False,False,False,False,...,0,0,0,0,0,1,Stable,No major events,No changes,Low
1,2024-03-12 18:45:00,0.800040,0.76,0.052632,False,False,False,False,False,False,...,0,0,0,0,0,2,Growth,Announcement of new regulations,Increased regulations,Moderate
2,2024-03-11 14:30:00,0.000000,0.00,0.105263,False,False,False,False,False,False,...,0,0,0,0,0,3,Stable,No major events,No changes,Low
3,2024-03-10 11:15:00,0.101675,0.12,0.157895,False,False,False,False,False,False,...,0,0,0,0,0,4,Decline,Market crash reported,Proposed changes in regulations,High
4,2024-03-09 08:10:00,0.399522,0.44,0.210526,False,False,False,False,False,False,...,0,0,0,0,0,5,Stable,No major events,No changes,Low
5,2024-03-08 16:20:00,1.000000,1.00,0.263158,False,False,False,False,False,False,...,0,0,0,0,0,6,Growth,Positive economic news,Revised regulations,Moderate
6,2024-03-07 12:45:00,0.600678,0.60,0.315789,False,False,False,False,False,False,...,0,0,0,0,0,7,Stable,No major events,No changes,Low
7,2024-03-06 10:30:00,0.120813,0.04,0.368421,False,False,False,False,False,False,...,0,0,0,0,0,8,Decline,Negative economic indicators,New regulations implemented,High
8,2024-03-05 14:55:00,0.279506,0.28,0.421053,False,False,False,False,False,False,...,0,0,0,0,0,9,Stable,No major events,No changes,Low
9,2024-03-04 17:20:00,0.520534,0.52,0.473684,False,True,False,False,False,False,...,0,0,0,0,0,10,Growth,Positive economic outlook,Regulatory adjustments,Moderate
10,2024-03-03 09:30:00,0.798644,0.76,0.526316,False,False,True,False,False,False,...,0,0,0,0,0,11,Stable,No major events,No changes,Low
11,2024-03-02 14:00:00,0.999601,1.00,0.578947,False,False,False,True,False,False,...,0,0,0,0,0,12,Decline,Market downturn,Changes in regulatory enforcement,High
12,2024-03-01 11:45:00,0.100080,0.12,0.631579,False,False,False,False,True,False,...,0,0,0,0,0,13,Stable,No major events,No changes,Low
13,2024-02-29 16:10:00,0.401914,0.44,0.684211,False,False,False,False,False,True,...,0,0,0,0,0,14,Growth,Positive economic indicators,Proposed regulatory reforms,Moderate
14,2024-02-28 13:20:00,0.598684,0.60,0.736842,False,False,False,False,False,False,...,0,0,0,0,0,15,Stable,No major events,No changes,Low
15,2024-02-27 08:55:00,0.161483,0.04,0.789474,False,False,False,False,False,False,...,0,0,0,0,0,16,Decline,Economic slowdown,Regulatory compliance updates,High
16,2024-02-26 10:25:00,0.321372,0.28,0.842105,False,False,False,False,False,False,...,0,0,0,0,0,17,Stable,No major events,No changes,Low
17,2024-02-25 14:35:00,0.499601,0.52,0.894737,False,False,False,False,False,False,...,0,0,0,0,0,18,Growth,Economic recovery,Revised regulatory guidelines,Moderate
18,2024-02-24 16:50:00,0.680821,0.68,0.947368,False,False,False,False,False,False,...,0,0,0,0,0,19,Stable,No major events,No changes,Low
19,2024-02-23 09:40:00,0.838118,0.84,1.000000,False,False,False,False,False,False,...,0,0,0,0,0,20,Decline,Market uncertainty,Pending regulatory decisions,High

## regularisation

In [63]:
combine_df

,Timestamp,AmountTransferred,TransactionFee,BlockHeight,ReceiverAddress_receiver_address_1,ReceiverAddress_receiver_address_10,ReceiverAddress_receiver_address_11,ReceiverAddress_receiver_address_12,ReceiverAddress_receiver_address_13,ReceiverAddress_receiver_address_14,...,PreviousFraudulentActivity,BlacklistedEntities,FraudulentTransactions,PreviousFraudulentActivity,BlacklistedEntities,DataID,EconomicIndicators,NewsEvents,RegulatoryChanges,MarketVolatility
0,2024-03-13 09:25:00,0.199960,0.20,0.000000,True,False,False,False,False,False,...,0,0,0,0,0,1,Stable,No major events,No changes,Low
1,2024-03-12 18:45:00,0.800040,0.76,0.052632,False,False,False,False,False,False,...,0,0,0,0,0,2,Growth,Announcement of new regulations,Increased regulations,Moderate
2,2024-03-11 14:30:00,0.000000,0.00,0.105263,False,False,False,False,False,False,...,0,0,0,0,0,3,Stable,No major events,No changes,Low
3,2024-03-10 11:15:00,0.101675,0.12,0.157895,False,False,False,False,False,False,...,0,0,0,0,0,4,Decline,Market crash reported,Proposed changes in regulations,High
4,2024-03-09 08:10:00,0.399522,0.44,0.210526,False,False,False,False,False,False,...,0,0,0,0,0,5,Stable,No major events,No changes,Low
5,2024-03-08 16:20:00,1.000000,1.00,0.263158,False,False,False,False,False,False,...,0,0,0,0,0,6,Growth,Positive economic news,Revised regulations,Moderate
6,2024-03-07 12:45:00,0.600678,0.60,0.315789,False,False,False,False,False,False,...,0,0,0,0,0,7,Stable,No major events,No changes,Low
7,2024-03-06 10:30:00,0.120813,0.04,0.368421,False,False,False,False,False,False,...,0,0,0,0,0,8,Decline,Negative economic indicators,New regulations implemented,High
8,2024-03-05 14:55:00,0.279506,0.28,0.421053,False,False,False,False,False,False,...,0,0,0,0,0,9,Stable,No major events,No changes,Low
9,2024-03-04 17:20:00,0.520534,0.52,0.473684,False,True,False,False,False,False,...,0,0,0,0,0,10,Growth,Positive economic outlook,Regulatory adjustments,Moderate
10,2024-03-03 09:30:00,0.798644,0.76,0.526316,False,False,True,False,False,False,...,0,0,0,0,0,11,Stable,No major events,No changes,Low
11,2024-03-02 14:00:00,0.999601,1.00,0.578947,False,False,False,True,False,False,...,0,0,0,0,0,12,Decline,Market downturn,Changes in regulatory enforcement,High
12,2024-03-01 11:45:00,0.100080,0.12,0.631579,False,False,False,False,True,False,...,0,0,0,0,0,13,Stable,No major events,No changes,Low
13,2024-02-29 16:10:00,0.401914,0.44,0.684211,False,False,False,False,False,True,...,0,0,0,0,0,14,Growth,Positive economic indicators,Proposed regulatory reforms,Moderate
14,2024-02-28 13:20:00,0.598684,0.60,0.736842,False,False,False,False,False,False,...,0,0,0,0,0,15,Stable,No major events,No changes,Low
15,2024-02-27 08:55:00,0.161483,0.04,0.789474,False,False,False,False,False,False,...,0,0,0,0,0,16,Decline,Economic slowdown,Regulatory compliance updates,High
16,2024-02-26 10:25:00,0.321372,0.28,0.842105,False,False,False,False,False,False,...,0,0,0,0,0,17,Stable,No major events,No changes,Low
17,2024-02-25 14:35:00,0.499601,0.52,0.894737,False,False,False,False,False,False,...,0,0,0,0,0,18,Growth,Economic recovery,Revised regulatory guidelines,Moderate
18,2024-02-24 16:50:00,0.680821,0.68,0.947368,False,False,False,False,False,False,...,0,0,0,0,0,19,Stable,No major events,No changes,Low
19,2024-02-23 09:40:00,0.838118,0.84,1.000000,False,False,False,False,False,False,...,0,0,0,0,0,20,Decline,Market uncertainty,Pending regulatory decisions,High

In [64]:
combine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 68 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Timestamp                            20 non-null     datetime64[ns]
 1   AmountTransferred                    20 non-null     float64
 2   TransactionFee                       20 non-null     float64
 3   BlockHeight                          20 non-null     float64
 4   ReceiverAddress_receiver_address_1   20 non-null     bool
 5   ReceiverAddress_receiver_address_10  20 non-null     bool
 6   ReceiverAddress_receiver_address_11  20 non-null     bool
 7   ReceiverAddress_receiver_address_12  20 non-null     bool
 8   ReceiverAddress_receiver_address_13  20 non-null     bool
 9   ReceiverAddress_receiver_address_14  20 non-null     bool
 10  ReceiverAddress_receiver_address_15  20 non-null     bool
 11  ReceiverAddress_receiver_address_16  20 non-null     bool
 12  ReceiverAddress_receiver_address_17  20 non-null     bool
 13  ReceiverAddress_receiver_address_18  20 non-null     bool
 14  ReceiverAddress_receiver_address_19  20 non-null     bool
 15  ReceiverAddress_receiver_address_2   20 non-null     bool
 16  ReceiverAddress_receiver_address_20  20 non-null     bool
 17  ReceiverAddress_receiver_address_3   20 non-null     bool
 18  ReceiverAddress_receiver_address_4   20 non-null     bool
 19  ReceiverAddress_receiver_address_5   20 non-null     bool
 20  ReceiverAddress_receiver_address_6   20 non-null     bool
 21  ReceiverAddress_receiver_address_7   20 non-null     bool
 22  ReceiverAddress_receiver_address_8   20 non-null     bool
 23  ReceiverAddress_receiver_address_9   20 non-null     bool
 24  KYCStatus                            20 non-null     int32
 25  AccountCreationDate                  20 non-null     object
 26  TransactionFrequency                 20 non-null     float64
 27  TransactionSizeDistribution          20 non-null     int32
 28  GeographicInconsistencies            20 non-null     int32
 29  TimeOfDayPatterns                    20 non-null     int32
 30  RegularVsIrregularBehavior           20 non-null     int32
 31  ChangesInBehaviorOverTime            20 non-null     int32
 32  CreditScore                          20 non-null     float64
 33  LoanRepaymentHistory                 20 non-null     int32
 34  CreditCardUtilization                20 non-null     float64
 35  IncomeLevel                          20 non-null     float64
 36  DebtToIncomeRatio                    20 non-null     float64
 37  PastFraudulentActivity               20 non-null     int32
 38  DegreeCentrality                     20 non-null     float64
 39  ClusteringCoefficients               20 non-null     float64
 40  AnomaliesInNetwork                   20 non-null     int32
 41  SocialMediaSentiment                 20 non-null     int32
 42  TransactionSentiment                 20 non-null     int32
 43  FinancialTransactionSentiment        20 non-null     int32
 44  SocialMediaSentiment                 20 non-null     int32
 45  TransactionSentiment                 20 non-null     int32
 46  FinancialTransactionSentiment        20 non-null     int32
 47  UserID                               20 non-null     int64
 48  SystemTrustScore                     20 non-null     int64
 49  PlatformReliabilityScore             20 non-null     int64
 50  PastSecurityIncidents                20 non-null     object
 51  UserID                               20 non-null     int64
 52  DeviceID                             20 non-null     object
 53  IPAddress                            20 non-null     object
 54  DeviceLocation                       20 non-null     object
 55  DeviceTypeAndVersion                 20 non-null     object
 56  ProxyOrVPNUsage                      20 non-null     object
 57  FraudulentTransactions               20 non-null     int32
 58  PreviousFraudulentActivity           20 non-null     int32
 59  BlacklistedEntities                  20 non-null     int32
 60  FraudulentTransactions               20 non-null     int32
 61  PreviousFraudulentActivity           20 non-null     int32
 62  BlacklistedEntities                  20 non-null     int32
 63  DataID                               20 non-null     int64
 64  EconomicIndicators                   20 non-null     object
 65  NewsEvents                           20 non-null     object
 66  RegulatoryChanges                    20 non-null     object
 67  MarketVolatility                     20 non-null     object
dtypes: bool(20), datetime64[ns](1), float64(10), int32(21), int64(5), object(11)
memory usage: 6.4+ KB

In [65]:
print(type(combine_df))

<class 'pandas.core.frame.DataFrame'>

In [66]:
combine_df.drop(['Timestamp', 'AccountCreationDate'], axis=1)

,AmountTransferred,TransactionFee,BlockHeight,ReceiverAddress_receiver_address_1,ReceiverAddress_receiver_address_10,ReceiverAddress_receiver_address_11,ReceiverAddress_receiver_address_12,ReceiverAddress_receiver_address_13,ReceiverAddress_receiver_address_14,ReceiverAddress_receiver_address_15,...,PreviousFraudulentActivity,BlacklistedEntities,FraudulentTransactions,PreviousFraudulentActivity,BlacklistedEntities,DataID,EconomicIndicators,NewsEvents,RegulatoryChanges,MarketVolatility
0,0.199960,0.20,0.000000,True,False,False,False,False,False,False,...,0,0,0,0,0,1,Stable,No major events,No changes,Low
1,0.800040,0.76,0.052632,False,False,False,False,False,False,False,...,0,0,0,0,0,2,Growth,Announcement of new regulations,Increased regulations,Moderate
2,0.000000,0.00,0.105263,False,False,False,False,False,False,False,...,0,0,0,0,0,3,Stable,No major events,No changes,Low
3,0.101675,0.12,0.157895,False,False,False,False,False,False,False,...,0,0,0,0,0,4,Decline,Market crash reported,Proposed changes in regulations,High
4,0.399522,0.44,0.210526,False,False,False,False,False,False,False,...,0,0,0,0,0,5,Stable,No major events,No changes,Low
5,1.000000,1.00,0.263158,False,False,False,False,False,False,False,...,0,0,0,0,0,6,Growth,Positive economic news,Revised regulations,Moderate
6,0.600678,0.60,0.315789,False,False,False,False,False,False,False,...,0,0,0,0,0,7,Stable,No major events,No changes,Low
7,0.120813,0.04,0.368421,False,False,False,False,False,False,False,...,0,0,0,0,0,8,Decline,Negative economic indicators,New regulations implemented,High
8,0.279506,0.28,0.421053,False,False,False,False,False,False,False,...,0,0,0,0,0,9,Stable,No major events,No changes,Low
9,0.520534,0.52,0.473684,False,True,False,False,False,False,False,...,0,0,0,0,0,10,Growth,Positive economic outlook,Regulatory adjustments,Moderate
10,0.798644,0.76,0.526316,False,False,True,False,False,False,False,...,0,0,0,0,0,11,Stable,No major events,No changes,Low
11,0.999601,1.00,0.578947,False,False,False,True,False,False,False,...,0,0,0,0,0,12,Decline,Market downturn,Changes in regulatory enforcement,High
12,0.100080,0.12,0.631579,False,False,False,False,True,False,False,...,0,0,0,0,0,13,Stable,No major events,No changes,Low
13,0.401914,0.44,0.684211,False,False,False,False,False,True,False,...,0,0,0,0,0,14,Growth,Positive economic indicators,Proposed regulatory reforms,Moderate
14,0.598684,0.60,0.736842,False,False,False,False,False,False,True,...,0,0,0,0,0,15,Stable,No major events,No changes,Low
15,0.161483,0.04,0.789474,False,False,False,False,False,False,False,...,0,0,0,0,0,16,Decline,Economic slowdown,Regulatory compliance updates,High
16,0.321372,0.28,0.842105,False,False,False,False,False,False,False,...,0,0,0,0,0,17,Stable,No major events,No changes,Low
17,0.499601,0.52,0.894737,False,False,False,False,False,False,False,...,0,0,0,0,0,18,Growth,Economic recovery,Revised regulatory guidelines,Moderate
18,0.680821,0.68,0.947368,False,False,False,False,False,False,False,...,0,0,0,0,0,19,Stable,No major events,No changes,Low
19,0.838118,0.84,1.000000,False,False,False,False,False,False,False,...,0,0,0,0,0,20,Decline,Market uncertainty,Pending regulatory decisions,High

In [67]:
combine2 = combine_df  # If you still want to use combine2

print(combine2)

             Timestamp  AmountTransferred  TransactionFee  BlockHeight  \
0  2024-03-13 09:25:00           0.199960            0.20     0.000000
1  2024-03-12 18:45:00           0.800040            0.76     0.052632
2  2024-03-11 14:30:00           0.000000            0.00     0.105263
3  2024-03-10 11:15:00           0.101675            0.12     0.157895
4  2024-03-09 08:10:00           0.399522            0.44     0.210526
5  2024-03-08 16:20:00           1.000000            1.00     0.263158
6  2024-03-07 12:45:00           0.600678            0.60     0.315789
7  2024-03-06 10:30:00           0.120813            0.04     0.368421
8  2024-03-05 14:55:00           0.279506            0.28     0.421053
9  2024-03-04 17:20:00           0.520534            0.52     0.473684
10 2024-03-03 09:30:00           0.798644            0.76     0.526316
11 2024-03-02 14:00:00           0.999601            1.00     0.578947
12 2024-03-01 11:45:00           0.100080            0.12     0.631579
13 2024-02-29 16:10:00           0.401914            0.44     0.684211
14 2024-02-28 13:20:00           0.598684            0.60     0.736842
15 2024-02-27 08:55:00           0.161483            0.04     0.789474
16 2024-02-26 10:25:00           0.321372            0.28     0.842105
17 2024-02-25 14:35:00           0.499601            0.52     0.894737
18 2024-02-24 16:50:00           0.680821            0.68     0.947368
19 2024-02-23 09:40:00           0.838118            0.84     1.000000

    ReceiverAddress_receiver_address_1  ReceiverAddress_receiver_address_10  \
0                                 True                                False
1                                False                                False
2                                False                                False
3                                False                                False
4                                False                                False
5                                False                                False
6                                False                                False
7                                False                                False
8                                False                                False
9                                False                                 True
10                               False                                False
11                               False                                False
12                               False                                False
13                               False                                False
14                               False                                False
15                               False                                False
16                               False                                False
17                               False                                False
18                               False                                False
19                               False                                False

    ReceiverAddress_receiver_address_11  ReceiverAddress_receiver_address_12  \
0                                 False                                False
1                                 False                                False
2                                 False                                False
3                                 False                                False
4                                 False                                False
5                                 False                                False
6                                 False                                False
7                                 False                                False
8                                 False                                False
9                                 False                                False
10                                 True                                False
11                                False                                 True
12                                False                                False
13                                False                                False
14                                False                                False
15                                False                                False
16                                False                                False
17                                False                                False
18                                False                                False
19                                False                                False

    ReceiverAddress_receiver_address_13  ReceiverAddress_receiver_address_14  \
0                                 False                                False
1                                 False                                False
2                                 False                                False
3                                 False                                False
4                                 False                                False
5                                 False                                False
6                                 False                                False
7                                 False                                False
8                                 False                                False
9                                 False                                False
10                                False                                False
11                                False                                False
12                                 True                                False
13                                False                                 True
14                                False                                False
15                                False                                False
16                                False                                False
17                                False                                False
18                                False                                False
19                                False                                False

    ...  PreviousFraudulentActivity  BlacklistedEntities  \
0   ...                           0                    0
1   ...                           0                    0
2   ...                           0                    0
3   ...                           0                    0
4   ...                           0                    0
5   ...                           0                    0
6   ...                           0                    0
7   ...                           0                    0
8   ...                           0                    0
9   ...                           0                    0
10  ...                           0                    0
11  ...                           0                    0
12  ...                           0                    0
13  ...                           0                    0
14  ...                           0                    0
15  ...                           0                    0
16  ...                           0                    0
17  ...                           0                    0
18  ...                           0                    0
19  ...                           0                    0

    FraudulentTransactions  PreviousFraudulentActivity  BlacklistedEntities  \
0                        0                           0                    0
1                        0                           0                    0
2                        0                           0                    0
3                        0                           0                    0
4                        0                           0                    0
5                        0                           0                    0
6                        0                           0                    0
7                        0                           0                    0
8                        0                           0                    0
9                        0                           0                    0
10                       0                           0                    0
11                       0                           0                    0
12                       0                           0                    0
13                       0                           0                    0
14                       0                           0                    0
15                       0                           0                    0
16                       0                           0                    0
17                       0                           0                    0
18                       0                           0                    0
19                       0                           0                    0

    DataID  EconomicIndicators                       NewsEvents  \
0        1              Stable                  No major events
1        2              Growth  Announcement of new regulations
2        3              Stable                  No major events
3        4             Decline            Market crash reported
4        5              Stable                  No major events
5        6              Growth           Positive economic news
6        7              Stable                  No major events
7        8             Decline     Negative economic indicators
8        9              Stable                  No major events
9       10              Growth        Positive economic outlook
10      11              Stable                  No major events
11      12             Decline                  Market downturn
12      13              Stable                  No major events
13      14              Growth     Positive economic indicators
14      15              Stable                  No major events
15      16             Decline                Economic slowdown
16      17              Stable                  No major events
17      18              Growth                Economic recovery
18      19              Stable                  No major events
19      20             Decline               Market uncertainty

                    RegulatoryChanges  MarketVolatility
0                          No changes               Low
1               Increased regulations          Moderate
2                          No changes               Low
3     Proposed changes in regulations              High
4                          No changes               Low
5                 Revised regulations          Moderate
6                          No changes               Low
7         New regulations implemented              High
8                          No changes               Low
9              Regulatory adjustments          Moderate
10                         No changes               Low
11  Changes in regulatory enforcement              High
12                         No changes               Low
13        Proposed regulatory reforms          Moderate
14                         No changes               Low
15      Regulatory compliance updates              High
16                         No changes               Low
17      Revised regulatory guidelines          Moderate
18                         No changes               Low
19       Pending regulatory decisions              High

[20 rows x 68 columns]

In [68]:
combine2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 68 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Timestamp                            20 non-null     datetime64[ns]
 1   AmountTransferred                    20 non-null     float64
 2   TransactionFee                       20 non-null     float64
 3   BlockHeight                          20 non-null     float64
 4   ReceiverAddress_receiver_address_1   20 non-null     bool
 5   ReceiverAddress_receiver_address_10  20 non-null     bool
 6   ReceiverAddress_receiver_address_11  20 non-null     bool
 7   ReceiverAddress_receiver_address_12  20 non-null     bool
 8   ReceiverAddress_receiver_address_13  20 non-null     bool
 9   ReceiverAddress_receiver_address_14  20 non-null     bool
 10  ReceiverAddress_receiver_address_15  20 non-null     bool
 11  ReceiverAddress_receiver_address_16  20 non-null     bool
 12  ReceiverAddress_receiver_address_17  20 non-null     bool
 13  ReceiverAddress_receiver_address_18  20 non-null     bool
 14  ReceiverAddress_receiver_address_19  20 non-null     bool
 15  ReceiverAddress_receiver_address_2   20 non-null     bool
 16  ReceiverAddress_receiver_address_20  20 non-null     bool
 17  ReceiverAddress_receiver_address_3   20 non-null     bool
 18  ReceiverAddress_receiver_address_4   20 non-null     bool
 19  ReceiverAddress_receiver_address_5   20 non-null     bool
 20  ReceiverAddress_receiver_address_6   20 non-null     bool
 21  ReceiverAddress_receiver_address_7   20 non-null     bool
 22  ReceiverAddress_receiver_address_8   20 non-null     bool
 23  ReceiverAddress_receiver_address_9   20 non-null     bool
 24  KYCStatus                            20 non-null     int32
 25  AccountCreationDate                  20 non-null     object
 26  TransactionFrequency                 20 non-null     float64
 27  TransactionSizeDistribution          20 non-null     int32
 28  GeographicInconsistencies            20 non-null     int32
 29  TimeOfDayPatterns                    20 non-null     int32
 30  RegularVsIrregularBehavior           20 non-null     int32
 31  ChangesInBehaviorOverTime            20 non-null     int32
 32  CreditScore                          20 non-null     float64
 33  LoanRepaymentHistory                 20 non-null     int32
 34  CreditCardUtilization                20 non-null     float64
 35  IncomeLevel                          20 non-null     float64
 36  DebtToIncomeRatio                    20 non-null     float64
 37  PastFraudulentActivity               20 non-null     int32
 38  DegreeCentrality                     20 non-null     float64
 39  ClusteringCoefficients               20 non-null     float64
 40  AnomaliesInNetwork                   20 non-null     int32
 41  SocialMediaSentiment                 20 non-null     int32
 42  TransactionSentiment                 20 non-null     int32
 43  FinancialTransactionSentiment        20 non-null     int32
 44  SocialMediaSentiment                 20 non-null     int32
 45  TransactionSentiment                 20 non-null     int32
 46  FinancialTransactionSentiment        20 non-null     int32
 47  UserID                               20 non-null     int64
 48  SystemTrustScore                     20 non-null     int64
 49  PlatformReliabilityScore             20 non-null     int64
 50  PastSecurityIncidents                20 non-null     object
 51  UserID                               20 non-null     int64
 52  DeviceID                             20 non-null     object
 53  IPAddress                            20 non-null     object
 54  DeviceLocation                       20 non-null     object
 55  DeviceTypeAndVersion                 20 non-null     object
 56  ProxyOrVPNUsage                      20 non-null     object
 57  FraudulentTransactions               20 non-null     int32
 58  PreviousFraudulentActivity           20 non-null     int32
 59  BlacklistedEntities                  20 non-null     int32
 60  FraudulentTransactions               20 non-null     int32
 61  PreviousFraudulentActivity           20 non-null     int32
 62  BlacklistedEntities                  20 non-null     int32
 63  DataID                               20 non-null     int64
 64  EconomicIndicators                   20 non-null     object
 65  NewsEvents                           20 non-null     object
 66  RegulatoryChanges                    20 non-null     object
 67  MarketVolatility                     20 non-null     object
dtypes: bool(20), datetime64[ns](1), float64(10), int32(21), int64(5), object(11)
memory usage: 6.4+ KB

In [69]:
combine3=combine_df.drop(['EconomicIndicators', 'NewsEvents','RegulatoryChanges','MarketVolatility'], axis=1)

In [75]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score





# Train the ANN model
model = MLPClassifier()
model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = model.predict(X_test_scaled)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

KeyError: "['FraudulentTransactions'] not found in axis"

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report


# Proceed with the rest of the steps for creating the Random Forest classifier

X = combine3.drop(['FraudulentTransactions'], axis=1)  # Features
y = combine3['FraudulentTransactions']  # Target variable


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
rf = RandomForestClassifier()
param_grid = {
    'n_estimators': [100, 200, 300],
    'max_depth': [None, 10, 20],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'bootstrap': [True, False]
}

grid_search = GridSearchCV(estimator=rf, param_grid=param_grid, cv=5, n_jobs=-1, verbose=2)

grid_search.fit(X_train, y_train)
print("Best parameters found: ", grid_search.best_params_)
best_rf = grid_search.best_estimator_

y_pred = best_rf.predict(X_test)
print(classification_report(y_test, y_pred))

In [71]:
# Check the column names of the dataset
features = combine3.columns.tolist()

print("Features in the dataset:")
for feature in features:
    print(feature)

Features in the dataset:
Timestamp
AmountTransferred
TransactionFee
BlockHeight
ReceiverAddress_receiver_address_1
ReceiverAddress_receiver_address_10
ReceiverAddress_receiver_address_11
ReceiverAddress_receiver_address_12
ReceiverAddress_receiver_address_13
ReceiverAddress_receiver_address_14
ReceiverAddress_receiver_address_15
ReceiverAddress_receiver_address_16
ReceiverAddress_receiver_address_17
ReceiverAddress_receiver_address_18
ReceiverAddress_receiver_address_19
ReceiverAddress_receiver_address_2
ReceiverAddress_receiver_address_20
ReceiverAddress_receiver_address_3
ReceiverAddress_receiver_address_4
ReceiverAddress_receiver_address_5
ReceiverAddress_receiver_address_6
ReceiverAddress_receiver_address_7
ReceiverAddress_receiver_address_8
ReceiverAddress_receiver_address_9
KYCStatus
AccountCreationDate
TransactionFrequency
TransactionSizeDistribution
GeographicInconsistencies
TimeOfDayPatterns
RegularVsIrregularBehavior
ChangesInBehaviorOverTime
CreditScore
LoanRepaymentHistory
CreditCardUtilization
IncomeLevel
DebtToIncomeRatio
PastFraudulentActivity
DegreeCentrality
ClusteringCoefficients
AnomaliesInNetwork
SocialMediaSentiment
TransactionSentiment
FinancialTransactionSentiment
SocialMediaSentiment
TransactionSentiment
FinancialTransactionSentiment
UserID
SystemTrustScore
PlatformReliabilityScore
PastSecurityIncidents
UserID
DeviceID
IPAddress
DeviceLocation
DeviceTypeAndVersion
ProxyOrVPNUsage
FraudulentTransactions
PreviousFraudulentActivity
BlacklistedEntities
FraudulentTransactions
PreviousFraudulentActivity
BlacklistedEntities
DataID

In [74]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

# Define X and Y
X = combine_df.drop(['FraudulentTransactions'], axis=1)  # Replace 'TargetColumnName' with the name of your target column
Y = combine_df['FraudulentTransactions']


# Split data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

# Impute missing values
imputer = SimpleImputer(strategy='mean')
X_train_imputed = imputer.fit_transform(X_train)
X_test_imputed = imputer.transform(X_test)

# Scale features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_imputed)
X_test_scaled = scaler.transform(X_test_imputed)

# Train the ANN model
model = MLPClassifier()
model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = model.predict(X_test_scaled)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

TypeError: Cannot cast DatetimeArray to dtype float64

In [120]:
# Impute missing values on new data
new_data_imputed = imputer.transform(combine3)

# Scale features on new data
new_data_scaled = scaler.transform(new_data_imputed)

# Make predictions
predictions = model.predict(new_data_scaled)

ValueError: The feature names should match those that were passed during fit.
Feature names unseen at fit time:
- FraudulentTransactions

In [93]:
# Assuming combine_df is your DataFrame
datetime_columns = combine_df.select_dtypes(include=['datetime64']).columns
print("Datetime columns:", datetime_columns)

Datetime columns: Index([], dtype='object')

In [94]:
import pandas as pd
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import RandomForestRegressor



# Dropping datetime columns
#combine_df_numeric = combine_df.drop(['AccountCreationDate'], axis=1)


# Define X and Y
X = combine_df.drop(['FraudulentTransactions'], axis=1)  # Replace 'TargetColumnName' with the name of your target column
Y = combine_df['FraudulentTransactions']

combine_df_cleaned = combine_df_encoded.dropna()
# Split data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

# Define the parameter grid for GridSearchCV
param_grid = {
    'n_estimators': [100, 200, 300],  # Example values, customize as needed
    'max_depth': [None, 10, 20],  # Example values, customize as needed
    'min_samples_split': [2, 5, 10],  # Example values, customize as needed
    'min_samples_leaf': [1, 2, 4]  # Example values, customize as needed
}

# Initialize the RandomForestRegressor
rf = RandomForestRegressor(oob_score=True)

# Initialize GridSearchCV
grid_search = GridSearchCV(estimator=rf, param_grid=param_grid, cv=5, n_jobs=-1)

# Perform GridSearchCV
grid_search.fit(X_train, y_train)

# Best parameters found
print("Best parameters found:", grid_search.best_params_)

# Best score
print("Best score found:", grid_search.best_score_)

# Out of Bag Score
print("Out of Bag Score:", grid_search.best_estimator_.oob_score_)

ValueError:
All the 405 fits failed.
It is very likely that your model is misconfigured.
You can try to debug the error by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
405 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\SIMRAN\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\SIMRAN\anaconda3\Lib\site-packages\sklearn\base.py", line 1151, in wrapper
    return fit_method(estimator, *args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\SIMRAN\anaconda3\Lib\site-packages\sklearn\ensemble\_forest.py", line 348, in fit
    X, y = self._validate_data(
           ^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\SIMRAN\anaconda3\Lib\site-packages\sklearn\base.py", line 621, in _validate_data
    X, y = check_X_y(X, y, **check_params)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\SIMRAN\anaconda3\Lib\site-packages\sklearn\utils\validation.py", line 1147, in check_X_y
    X = check_array(
        ^^^^^^^^^^^^
  File "C:\Users\SIMRAN\anaconda3\Lib\site-packages\sklearn\utils\validation.py", line 838, in check_array
    array = array.astype(new_dtype)
            ^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\SIMRAN\anaconda3\Lib\site-packages\pandas\core\generic.py", line 6534, in astype
    new_data = self._mgr.astype(dtype=dtype, copy=copy, errors=errors)
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\SIMRAN\anaconda3\Lib\site-packages\pandas\core\internals\managers.py", line 414, in astype
    return self.apply(
           ^^^^^^^^^^^
  File "C:\Users\SIMRAN\anaconda3\Lib\site-packages\pandas\core\internals\managers.py", line 354, in apply
    applied = getattr(b, f)(**kwargs)
              ^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\SIMRAN\anaconda3\Lib\site-packages\pandas\core\internals\blocks.py", line 616, in astype
    new_values = astype_array_safe(values, dtype, copy=copy, errors=errors)
                 ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\SIMRAN\anaconda3\Lib\site-packages\pandas\core\dtypes\astype.py", line 238, in astype_array_safe
    new_values = astype_array(values, dtype, copy=copy)
                 ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\SIMRAN\anaconda3\Lib\site-packages\pandas\core\dtypes\astype.py", line 183, in astype_array
    values = _astype_nansafe(values, dtype, copy=copy)
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\SIMRAN\anaconda3\Lib\site-packages\pandas\core\dtypes\astype.py", line 134, in _astype_nansafe
    return arr.astype(dtype, copy=True)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
TypeError: float() argument must be a string or a real number, not 'datetime.date'

In [ ]:
import mysql.connector
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Ridge, Lasso, ElasticNet
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error

def regularization_combinations(regularization_types=['ridge', 'lasso', 'elasticnet'], alpha_values=[0.01, 0.1, 1.0], l1_ratios=[0.1, 0.5, 0.9]):
    """
    Perform various combinations of regularization techniques and hyperparameter tuning to find the best results.

    Parameters:
    connection: MySQL connection object.
    cursor: MySQL cursor object.
    regularization_types (list): List of regularization techniques to try. Default is ['ridge', 'lasso', 'elasticnet'].
    alpha_values (list): List of alpha values to try for Ridge and Lasso regularization. Default is [0.01, 0.1, 1.0].
    l1_ratios (list): List of l1_ratios to try for Elastic Net regularization. Default is [0.1, 0.5, 0.9].

    Returns:
    dict: A dictionary containing the best model and its parameters.
    """

    best_model = None
    best_params = {}
    best_score = float('inf')

    for regularization_type in regularization_types:
        if regularization_type == 'ridge':
            parameters = {'regressor__alpha': alpha_values}
            model = Ridge()
        elif regularization_type == 'lasso':
            parameters = {'regressor__alpha': alpha_values}
            model = Lasso()
        elif regularization_type == 'elasticnet':
            parameters = {'regressor__alpha': alpha_values, 'regressor__l1_ratio': l1_ratios}
            model = ElasticNet()

        pipeline = Pipeline([
            ('scaler', StandardScaler()),
            ('regressor', model)
        ])

        grid_search = GridSearchCV(pipeline, parameters, cv=5, scoring='neg_mean_squared_error')

        # Retrieve data from the database
        cursor.execute("SELECT UserID, CreditScore, LoanRepaymentHistory, CreditCardUtilization, IncomeLevel, DebtToIncomeRatio, PastFraudulentActivity FROM CreditAndFinancialHistory")
        data = cursor.fetchall()
        X = [[row[1], row[3], row[4], row[5]] for row in data]  # Feature selection from CreditAndFinancialHistory
        cursor.execute("SELECT AmountTransferred FROM BlockchainTransactions")
        y = [row[0] for row in cursor.fetchall()]  # Target variable

        grid_search.fit(X, y)

        if grid_search.best_score_ < best_score:
            best_model = grid_search.best_estimator_
            best_params = grid_search.best_params_
            best_score = grid_search.best_score_

    return {'best_model': best_model, 'best_params': best_params, 'best_score': best_score}

In [ ]:
 


result = regularization_combinations(connection, cursor)
print("Best Model:", result['best_model'])
print("Best Parameters:", result['best_params'])
print("Best Score:", result['best_score'])

connection.close()

if __name__ == "__main__":
    main()

## combinig